/*Navegacion*/
/*Encabezado menú*/
.tamaño-renglon-1{
  position: fixed;
  height: 78px;
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: -55%;
  margin-bottom: 2%;
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  margin-left: 4%;
  padding-bottom: 4px;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 18px;
  color:#F7F7F7;
  margin-top: 3px;
  padding-right: 33px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}
/*BARRA DE PROGRESO*/
.espacio-progreso{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  /*background: #bfe7e5;        /*PRUEBA*/
}
.headerBar{ /*CONTENEDOR < >*/
  height: 35px;
  text-align: center;
}
.material-icons.icon-arrow{
  font-size: 35px;
  color: #912F46;
}
.Menu.Left{
  margin-left: 10%;
  float: left;
}
.Menu.Right{
  margin-right: 10%;
  float: right;
}
#Progress{
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
  height: 13px;
  background-color: #EAEAEA;
  border-radius: 5px;
}
#bar{ /*PROGRESO 20%*/
  position: absolute;
  height: 100%;
  background-color: #912F46;
  border-radius: 5px;
}


/*7-CP.HTML*/
.texto1-cp{ /*Titulo Código postal*/
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  /*margin-top: 13%;*/ 
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 30px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1; 
}
.texto2-cp{ /*Descipcion*/
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400; /*Grosor*/
  text-align: center;
  color: #000000;
  opacity: 1; 
  margin-top: 2%;
}
/*Superficie.html*/
.texto_area_cp{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 36%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
/*INPUT*/
.data_input{
  width: 100%;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
  border-radius: 6px;
}
/*SeccionBoton SIGUIENTE*/
.seccion-siguiente{
  max-width: 900px;
  padding-top: 130px;
  /*background: #bfe7e5;        /*PRUEBA*/
} 
.boton-siguiente{
  /*position: absolute;margin-top: -13%;*/
  margin-left: 43%;
  margin-bottom: 5%;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.boton-siguiente:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.boton-siguiente:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.boton-siguiente:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}

/*11-AÑOS.HTML*/
.texto1{  /*Año de terminación de la obra*/
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  /*margin-top: 13%;*/ 
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 30px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1; 
}
.seccion-medidas{
  position: static;
  height: 200px;
  width: 100%;
  /*background: #DEDEDE; /*Prueba */
}
.texto_area_años{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 44%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.data_input{
  width: 100%;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}

/*12-SUPERFICIE.HTML*/
.texto_area_superficie{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 44%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 44%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}



label.head-label, label.bottom-label1{
  padding: 5px 0;
  width: 95%; /*Alinea el texto de arriba*/
  margin-left: auto; /*Alinea el texto de arriba*/
  margin-right: auto; /*Alinea el texto de arriba*/
  font-size: 15px; /*Letra chiquita arriba del cuadro*/
  font-weight: 300; 
  font-family: 'Raleway', sans-serif;
  display: none; /*Desaparese*/
  color: #989A9B;
  text-align: left;
  position: absolute;
  top: -15px;
  left: 20px;
  -webkit-animation: silo-fade 0.2s; /*Google*/
  -moz-animation: silo-fade 0.2s; /*Motzilla*/
  animation: silo-fade 0.2s; /*Google*/
}

/*Hace la animacion de aparecer cuando se da clic*/
input.invalid + label.head-label, input:focus + label.head-label, input:not(:placeholder-shown) + label.head-label{
  display: block;
}

input.invalid + label.head-label + label.bottom-label1{
  display: block;
  color:#FF4B4B;
  font-weight: 500;
  position: absolute;
  top: 45px;
  left: 20px;
  }

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input.valid{
  color: #912F46;
  font-weight: 500;
}

input.invalid{
  color:#FF4B4B;
  font-weight: 300;
  border-bottom: 1px solid #FF4B4B;
}

input.invalid + label.head-label{
  color:#989A9B;
}

input.quantity-field{
  border: 1.5px solid #C7C7C7;
  text-align: center;
}


/*Animations*/
@-webkit-keyframes silo-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.4em);
    }
    100% {
     opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/*18-SUMA-ASEGURADA*/
.seccion-suma{
  position: static;
  height: 200px;
  width: 100%;
  padding-top: 10px;
  /*background: #DEDEDE; /*Prueba */
}
.texto1-suma{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #912F46; 
  font-size: 40px;
  font-weight: 500;
}
.texto2-suma{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 20px;
  margin-top: -2%;
}

/*SECCION EPICENTRO 1*/
.seccion-epicentro1{
  position: static;
  height: 400px;
  width: 100%;
  /*background: #c6d4e8;  /*PRUEBA*/
}
.texto1-epicentro1{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #000000;
}
.imagen1-epicentro1{
  width: 100%;
  /*height: 80%;*/
  font-family: 'Raleway', sans-serif;
  /*margin-left: 165px;*/
}
.negra-epicentro{
  font-weight: bold;
  color: #912F46;
}

/*SECCION EPICENTRO 2*/
.seccion-epicentro2{
  position: static;
  height: 750px;
  width: 100%;
  /*background: #e8c6d4; /*PRUEBA*/
}
.texto1-epicentro2{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: left;
  margin-left: 13.4%; /*Alinear el texto derecha*/
  color: #000000;
}
.imagen1-epicentro2{
  width: 100%;
  /*height: 80%;*/
  font-family: 'Raleway', sans-serif;
  /*margin-left: 165px;*/
}
/*SeccionBoton CONTRATAR*/
.seccion-boton{
  max-width: 900px;
  padding-top: 50px;
  padding-bottom: 50px;
  /*background: #cc99cc;        /*PRUEBA*/
} 
.btn-contratar{
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.btn-contratar:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.btn-contratar:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.btn-contratar:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}

/*NUEVO FOOTER*/
/*Footermenu*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
  padding-top: 2%;
  /*background: #99cccc;   /* PRUEBA*/
}
.texto1-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px; /*Separacion entre textos*/
  padding-left: 5%;
  margin-top: 28px;
  z-index: 2001;
}
.texto2-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto3-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto4-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
}
.texto5-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
  text-decoration: none;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}
.logo-footer{
  width: 160px;
  height: 60px;
  display: flex;
  margin-left: 80%;
  margin-top: -3%;
}



/*------------------MEDIA QUERIES--------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}

.menu-freeda{
  background-color: #912f46;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
/*----------------------------*/
/*7-CP.HTML*/
.texto1-cp{
  margin-top: 30%;
}
.texto_area_cp{
  width: 86%;
  margin-bottom: 20%;
}
/*input.invalid + label.head-label + label.bottom-label1 {
   top: 110px; 
}*/
.boton-siguiente{
  margin-left: 30%;
}

/*11-AÑOS.HTML*/
.texto1{
  margin-top: 15%;
  line-height: 47px;
  margin-bottom: 10%;
}
.texto_area_años{
  width: 90%;
}

/*12-SUPERFICIE.HTML*/
.texto_area_superficie{
  width: 90%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 92%;
}

/*18-SUMA-ASEGURADA*/
.texto1-epicentro1, .texto1-epicentro2{
  font-size: 20px;
}
.imagen1-epicentro1, .imagen1-epicentro2{
  margin-left: auto;
  margin-right: auto;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: -35%;
}

/*Footer*/
.logo-footer{
  display: none;
}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
.menu-freeda{
  background-color: #912f46;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
/*----------------------------*/
/*7-CP.HTML*/
.texto1-cp{
  margin-top: 30%;
}
.texto_area_cp{
  width: 64%;
  margin-bottom: 14%;
}
/*input.invalid + label.head-label + label.bottom-label1 {
   top: 110px; 
}*/
.boton-siguiente{
  margin-left: 37%;
}


/*11-AÑOS.HTML*/
.texto1{
  margin-top: 15%;
  line-height: 47px;
  margin-bottom: 10%;
}
.texto_area_años{
  width: 90%;
}

/*12-SUPERFICIE.HTML*/
.texto_area_superficie{
  width: 90%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 92%;
}

/*18-SUMA-ASEGURADA*/
.texto1-epicentro1, .texto1-epicentro2{
  font-size: 20px;
}
.imagen1-epicentro1, .imagen1-epicentro2{
  width: 105%;
  margin-left: auto;
  margin-right: auto;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}



/*Footer*/
.footermenu{ /*Politicas de privacidad*/
  padding-right: 180px;
  height: 130px;
  background-color: white;
}
.texto1-footer{
  margin-right: 15px;
}
.texto3-footer{
}

.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.tamaño-renglon-1{
  padding-left: 10%;
}
.logo-freeda{
  margin-left: -10%;
  margin-top: -7.5%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*----------------------------*/
/*7-CP.HTML*/
.texto1-cp{
  margin-top: 23%;
}
.texto_area_cp{
  width: 49%;
  margin-bottom: 10%;
}
/*input.invalid + label.head-label + label.bottom-label1 {
   top: 110px; 
}*/
.boton-siguiente{
  margin-left: 40%;
}

/*11-AÑOS.HTML*/
.texto1{
  margin-top: 10%;
  margin-bottom: 6%;
}
.texto_area_años{
  width: 72%;
}

/*12-SUPERFICIE.HTML*/
.texto_area_superficie{
  width: 68%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 68%;
}

/*18-SUMA-ASEGURADA*/
.texto1-epicentro1, .texto1-epicentro2{
  font-size: 20px;
}
.imagen1-epicentro1, .imagen1-epicentro2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}


/*Footer*/
.footermenu{
  padding-right: 150px;
  background-color: white;
}
.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: 1%;
}
/*------------------*/
/*7-CP.HTML*/
.texto1-cp{
  margin-top: 18%;
}
.texto_area_cp{
  width: 40%;
  margin-bottom: 7%;
}
/* input.invalid + label.head-label + label.bottom-label1 {
  top: 110px;
} */
.boton-siguiente{
  margin-left: 42%;
}

/*11-AÑOS.HTML*/
.texto1{
  margin-top: 8%;
  margin-bottom: 5%;
}
.texto_area_años{
  width: 50%;
}

/*12-SUPERFICIE.HTML*/
.texto_area_superficie{
  width: 50%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 50%;
}

 
/*18-SUMA-ASEGURADA*/
.texto1-epicentro1{
  font-size: 23px;
}
.texto1-epicentro2{
  font-size: 23px;
  margin-top: 5%;
}
.imagen1-epicentro1{
  width: 70%;
  margin-left: 15%;
}
.imagen1-epicentro2{
  width: 70%;
  margin-left: 15%;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/*Footer*/
.footermenu{
  padding-right: 45px;
}
.logo-footer{
  margin-left: 78%;
  height: 60px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
margin-left: -55%;
margin-top: 1%;
}
/*--------------------------*/
/*7-CP.HTML*/
.texto1-cp{
  margin-top: 15%;
}
.texto_area_cp{
  width: 37%;
  margin-bottom: 6%;
}
/* input.invalid + label.head-label + label.bottom-label1 {
  top: 110px;
} */
.boton-siguiente{
  margin-left: 43%;
}


/*11-AÑOS.HTML*/
.texto1{
  margin-top: 8%;
  margin-bottom: 4%;
}
.texto_area_años{
  width: 45%;
}

/*12-SUPERFICIE.HTML*/
.texto_area_superficie{
  width: 45%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 45%;
}


/*18-SUMA-ASEGURADA*/
.texto1-epicentro1{
  font-size: 25px;
}
.texto1-epicentro2{
  font-size: 25px;
  margin-top: 2%;
}
.imagen1-epicentro1{
  width: 60%;
  margin-left: 20%;
}
.imagen1-epicentro2{
  width: 60%;
  margin-left: 20%;
}



/*Footer*/
.footermenu{
  padding-left: 115px;
}
.logo-footer{
  margin-left: 78%;
}
}
