*{
  font-family: 'Roboto', sans-serif;
}
/*Navegacion*/
/*Barra de navegacion*/
/*.tamaño-renglon-1{
  position: fixed;
  /* height: 78px; 
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: 19%; 
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  padding-bottom: 4px;
}
.texto-menu-f{ 
  font-size: 20px;
  color:#F7F7F7; 
  margin-top: 3px;
  padding-right: 30px;
  font-weight: 400;
}
.texto-menu-f:hover{ 
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ 
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}*/
/*CAMBIO DE BARRA DE NAVEGACIÓN*/
/*MENU*/
.headerBar1{
  height: 108px;
  background-color: #912F46; /*Color menu*/
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-freeda{
  margin-left: 61%; /*Alineacion*/
  /*margin-bottom: 0%;*/
  height: 75px;
  width: 210px;  /*210px*/
  display:flex;
}

/*Lado derecho el menu*/
.Right{
  margin-right: 3%;
  display: flex;
  flex-direction: row;
  /* width: 40%; */
  align-items: center;
  /* justify-content: flex-end;
  margin-right: 10%; */
}
.Right i{
  cursor: pointer;
  position: relative;
}
.selected{
  color: #000000 !important;
}
/*AYUDA, NOTIFICACION Y USUARIO*/
.menu{
  display: flex;
  margin-left: 15px; /*5px*/
  margin-right: 15px; /*5px*/
  color: #FFFFFF;/*Color de letra*/
}
/*.bubble{
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px #D0D0D0;
  position: absolute;
  top: 50px;
  margin-left: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #3B536D;
  display: none;
}
*/
.bubble_close, .bubble{
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px #D0D0D0;
  position: absolute;
  top: 80px;
  margin-left: 7px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #912F46;
  display: none;
  cursor: pointer;
}
#notifications{
  width: 200px;
  height: auto;
  line-height: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px #D0D0D0;
  position: absolute;
  top: 80px;
  margin-left: 5px;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #3B536D;
  display: none;
  border-left: 8px solid #912f46;
  z-index: 2001;
}
#notifications p a{
  color: #60A1E7;
  /* font-size: 13px; */
}
.show, .show#notifications{display: block;}
.material-icons{
  margin-left: 5px;
  margin-right: 5px;
}



/*BARRA DE PROGRESO*/
.espacio-progreso{
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  /*background: #bfe7e5;        /*PRUEBA*/
}
.headerBar{ /*CONTENEDOR < >*/
  height: 35px;
  text-align: center;
}
.material-icons.icon-arrow{
  font-size: 35px;
  color: #912F46;
}
.Menu.Left{
  margin-left: 10%;
  float: left;
}
.Menu.Right{
  margin-right: 10%;
  float: right;
}
#Progress{
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
  height: 13px;
  background-color: #EAEAEA;
  border-radius: 5px;
}
#bar{ /*PROGRESO 20%*/
  position: absolute;
  height: 100%;
  background-color: #912F46;
  border-radius: 5px;
}
/*8-ANALISIS-COMP.HTML*/
/*Seccion1*/
.seccion1{
  position: static;
  height: 230px;
  width: 100%;
  /*background: #DEDEDE; /*Prueba */
}
.texto1-seccion1{
  font-size: 40px; /*Tamaño letra*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
}
.texto2-seccion1{ /*Analisis completo*/
  font-size: 25px; /*Tamaño letra*/
  font-family: 'Raleway', sans-serif;
  text-align: right;
  color: #000000;
}
.done-icon{ /*List*/
  font-size: 30px;
  color: #912F46;
  vertical-align: middle;
  margin-bottom: 5px;
  /*margin-left: 15px;*/
}

.texto1-seccion2{ /*Sabias que...*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #912F46; 
}
/*PARTE 1 de analisis completo*/
.part1{
  height: 600px;
  /*padding-bottom: 100px; */
  border-right: transparent 1px solid ;
}
.part1:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 60%;  /* or 100px */
  background: #912F46;
  margin-top: 35%; /*Centra la linea*/
}

/*Imagen palmera*/
.imagen1-part1{
  width: 120px; /*Tamaño de imagen*/
  margin-left: 33%; 
  margin-top: 16%; /*Separacion con el otro elemento hacia arriba*/
  margin-bottom: 7%; /*Separacion con el otro elemento hacia abajo*/
}
  /*Imagen estrellas*/
.imagen2-part1{
  width: 250px; /*Tamaño de imagen*/
  margin-left: 15%; 
  margin-top: 2%; /*Separacion con el otro elemento hacia arriba*/
  margin-bottom: 8%; /*Separacion con el otro elemento hacia abajo*/ 
}
.texto1-part1{/*Distancia de la costa*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 25px;
  padding-left: 3px;
}
.texto2-part1{ /*Tu inmueble se encuentra alejado*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 25px;
  padding-left: 3%;
}
/*PARTE 2 de analisis completo*/
.part2{
  /*height: 600px;*/
  /*padding-bottom: 100px;*/
  border-right: transparent 1px solid ;
}

.part2:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 60%;  /* or 100px */
  background: #912F46;
  margin-top: 35%; /*Centra la linea*/
}
  /*Información1*/
.texto1-part2{ /*El terremoto del 1985*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 20px;
  margin-top: 12%;
  margin-bottom: 12%;
  padding-left: 3%;
  line-height: 28px;
}
/*Casa*/ 
.imagen1-part2{
  width: 80px; /*Tamaño de imagen*/
  margin-left: 15%; 
  margin-top: -2%; /*Separacion con el otro elemento hacia arriba*/
  margin-bottom: 3%; /*Separacion con el otro elemento hacia abajo*/ 
}
.texto2-part2{ /*Derrumbe*/
  font-family: 'Raleway', sans-serif;
  color: #912F46; 
  font-size: 23px;
  text-align: right; /*Texto a la derecha*/
  margin-right: 15%; /*Alinear el texto derecha*/
  margin-top: -60px; /*Alinear el texto hacia arriba*/
  padding-left: 15%;
}
/*Información2*/
.texto3-part2{ /*El terremoto de 2017*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 20px;
  margin-top: 12%;
  margin-bottom: 12%;
  padding-left: 3%;
  line-height: 28px;
}
/*Casa*/
.imagen2-part2{
  width: 80px; /*Tamaño de imagen*/
  margin-left: 15%; 
  margin-top: -2%; /*Separacion con el otro elemento hacia arriba*/
  margin-bottom: 3%; /*Separacion con el otro elemento hacia abajo*/ 
}
.texto4-part2{ /*Derrumbe*/
  font-family: 'Raleway', sans-serif;
  color: #912F46; 
  font-size: 23px;
  text-align: right; /*Texto a la derecha*/
  margin-right: 15%; /*Alinear el texto derecha*/
  margin-top: -60px; /*Alinear el texto hacia arriba*/
}
/*PARTE 3 de analisis completo*/
.part3{
  height: 600px;
  /*padding-bottom: 100px;*/
}
.texto1-part3{ /*Tipo de suelo en CDMX*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #912F46; 
  font-size: 28px;
  margin-top: 10%;
  margin-bottom: 3%;
}
.imagen1-part3{ /*Mapa.svg*/
  width: 70%;
  margin-left: 16%;
}
.texto2-part3{ /*Zona IIIa-d*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #912F46; 
  font-size: 25px;
  margin-top: -1%;
  margin-bottom: 5%;
}
.texto3-part3{ /*Tu inmueble se encuantra de una zona de trasición*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 20px;
  margin-top: -3%;
  margin-bottom: 5%;
  line-height: 25px; 
}
.texto4-part3{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 5%;
  line-height: 23px; 
}
.boton1-seccion2{ /*Boton cotizar*/
  display: block;
  margin-left: 40%;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-weight: 500;
}
.boton1-seccion2:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.boton1-seccion2:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.boton1-seccion2:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}

/*7-CP.HTML*/
.texto1-cp{ /*Titulo Código postal*/
  font-size: 40px;
  /*margin-top: 13%;*/ 
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 30px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1; 
}
.texto2-cp{ /*Descipcion*/
  font-size: 25px;
  text-align: center;
  color: #000000;
  opacity: 1; 
  margin-top: 1%;
}
/*Superficie.html*/
.texto_area_cp{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 36%;
  padding: 10px;
  font-size: 20px;
  position: relative;
}
/*INPUT*/
.data_input{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  border-radius: 6px;
}
/*SeccionBoton SIGUIENTE*/
.seccion-siguiente{
  max-width: 900px;
  padding-top: 130px;
  /*background: #bfe7e5;        /*PRUEBA*/
} 
.boton-siguiente{
  position: absolute;/*margin-top: -13%;*/
  /* margin-left: 43%; */
  left: calc(50% - 100px);
  margin-bottom: 5%;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 20px;
}
.boton-siguiente:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.boton-siguiente:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.boton-siguiente:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}

.msn-limitar{
  font-size:20px; 
  color: #FF4B4B;
  width: 30%;
  text-align: center;
  margin-left: 35%;
  margin-bottom: 5%;
  position: relative;

  display: none;
}

/*11-AÑOS.HTML*/
 .texto1-tiempo{
  font-size: 40px;
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1; 
}
.seccion-medidas{
  position: static;
  height: 200px;
  width: 100%;
  /*background: #DEDEDE; /*Prueba */
}
.texto_area_años{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 44%;
  padding: 10px;
  font-size: 20px;
  position: relative;
}
.data_input{
  width: 100%;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}

/*12-SUPERFICIE.HTML*/
.texto1{  /*Año de terminación de la obra*/
  font-size: 40px;
  /*margin-top: 13%;*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 30px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1; 
}
.texto_area_superficie{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 44%;
  padding: 10px;
  font-size: 20px;
  position: relative;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{ /*Cuando de introduce el texto*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 44%;
  padding: 10px;
  font-size: 20px;
  position: relative;
}

label.head-label, label.bottom-label1{
  padding: 5px 0;
  width: 95%; /*Alinea el texto de arriba*/
  margin-left: auto; /*Alinea el texto de arriba*/
  margin-right: auto; /*Alinea el texto de arriba*/
  font-size: 20px; /*Letra chiquita arriba del cuadro*/
  font-weight: 300; 
  display: none; /*Desaparese*/
  color: #989A9B;
  text-align: left;
  position: absolute;
  top: -22px;
  left: 20px;
  -webkit-animation: silo-fade 0.2s; /*Google*/
  -moz-animation: silo-fade 0.2s; /*Motzilla*/
  animation: silo-fade 0.2s; /*Google*/
}

/*Hace la animacion de aparecer cuando se da clic*/
input.invalid + label.head-label, input:focus + label.head-label, input:not(:placeholder-shown) + label.head-label{
  display: block;
}

input.invalid + label.head-label + label.bottom-label1{
  display: block;
  color:#FF4B4B;
  font-weight: 500;
  position: absolute;
  top: 50px;
  left: 20px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input.valid{
  color: #912F46;
  font-weight: 500;
}

input.invalid{
  color:#FF4B4B;
  font-weight: 300;
  border-bottom: 1px solid #FF4B4B;
}

input.invalid + label.head-label{
  color:#989A9B;
}

input.quantity-field{
  border: 1.5px solid #C7C7C7;
  text-align: center;
}


/*Animations*/
@-webkit-keyframes silo-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.4em);
    }
    100% {
     opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/*18-SUMA-ASEGURADA*/
.seccion-suma{
  position: static;
  height: 200px;
  width: 100%;
  padding-top: 10px;
  /*background: #DEDEDE; /*Prueba */
}
.texto1-suma{
  text-align: center;
  color: #912F46; 
  font-size: 40px;
  font-weight: 500;
}
.texto2-suma{
  text-align: center;
  color: #000000; 
  font-size: 20px;
  margin-top: -2%;
}

/*SECCION EPICENTRO 1*/
.seccion-epicentro1{
  position: static;
  height: 400px;
  width: 100%;
  /*background: #c6d4e8;  /*PRUEBA*/
}
.texto1-epicentro1{
  font-size: 25px;
  text-align: center;
  color: #000000;
}
.imagen1-epicentro1{
  width: 100%;
  /*height: 80%;*/
  /*margin-left: 165px;*/
}
.negra-epicentro{
  font-weight: bold;
  color: #912F46;
}

/*SECCION EPICENTRO 2*/
.seccion-epicentro2{
  position: static;
  height: 750px;
  width: 100%;
  /*background: #e8c6d4; /*PRUEBA*/
}
.texto1-epicentro2{
  font-size: 25px;
  text-align: left;
  margin-left: 13.4%; /*Alinear el texto derecha*/
  color: #000000;
}
.imagen1-epicentro2{
  width: 100%;
  /*height: 80%;*/
  /*margin-left: 165px;*/
}
/*SeccionBoton CONTRATAR*/
.seccion-boton{
  max-width: 900px;
  padding-top: 50px;
  padding-bottom: 50px;
  /*background: #cc99cc;        /*PRUEBA*/
} 
.btn-contratar{
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 20px;
}
.btn-contratar:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.btn-contratar:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.btn-contratar:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}

/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 21%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 30%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 39%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 66%;
  margin-top: 20px;
  height: 48px;
  width: 158px;
  display: flex;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}





/*------------------MEDIA QUERIES--------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/*.tamaño-renglon-1{
  padding-left: 8%; 
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}*/
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}
a.nav-link:hover{
  color: #000000;
}
.headerBar{
  margin-top: -4%;
}*/
/*CAMBIO DE BARRA DE NAVEGACIÓN*/
.logo-freeda{
  width: 350%;
  /*margin-left: -8%;*/
  margin-top: 1%;
}
.btn-agregar{
  margin-right: -4%;
  margin-top: -5%;
}
.texto-ayuda{ /*Texto Centro de ayuda se oculta*/
  display: none;
}
.texto-notificacion{
  display: none;
}
.Left{
  width: 25px;
  margin-left: 0%;
}
.Right{
  width: 95%;
  margin-right: 5%;
  justify-content: flex-end;
}
.menu{
  display: flex;
  margin-left: 2px; /*5px*/
  margin-right: 2px; /*5px*/
  color: #FFFFFF;/*Color de letra*/
}
/*----------------------------*/
/*8-analisis-comp.html*/
.texto1-seccion1{  /*Riesgo de ubicacion*/
  margin-top: 10%;
  font-size: 35px;
}
.texto2-seccion1{  /*Analisis completo*/
  margin-right: 5%;
  margin-top: 3%;
}
.done-icon{ /*Icono √*/
 color: #912F46;
  margin-right: 15%;
}
.imagen1-part1{
  margin-left: 37%;
}
.texto1-seccion2{ /*Sabias que...*/
  margin-top: 0%;
}
.imagen2-part1{ /*Imagen estrella*/
  margin-left: 24%;
}
.part1{
  width: 100%;
  border-bottom: #912F46 1px solid;
}
.part1:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 1px;  /* or 100px */
  background: transparent;
  margin-top: 35%; /*Centra la linea*/
  size: 10%;
}
.part2{
  border-bottom: #912F46 1px solid ;
}
.part2:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 60%;  /* or 100px */
  background: transparent;
  margin-top: 35%; /*Centra la linea*/
}
.boton1-seccion2{ /*Boton cotizar*/
margin-left: auto;
margin-right: auto;
margin-top: 5%;
margin-bottom: 20%;
}
.part3{ /*Recusdro de informacion*/
  height: 20%;
}

/*7-CP.HTML*/
.texto1-cp{
  margin-top: 10%;
}
.texto2-cp{
  font-size: 22px;
}
.texto_area_cp{
  width: 86%;
  margin-bottom: 20%;
}
/*input.invalid + label.head-label + label.bottom-label1 {
   top: 110px; 
}*/
/* .boton-siguiente{
  margin-left: 30%;
} */

/*11-AÑOS.HTML*/
.texto1-tiempo{
  margin-top: 14%;
  padding-left: 5px;
}
.texto_area_años{
  width: 90%;
}
.boton-siguiente{
  margin-top: -4%;
} 

/*12-SUPERFICIE.HTML*/
.texto1{
  margin-top: 14%;
  line-height: 47px;
  margin-bottom: 10%;
}
.texto_area_superficie{
  width: 90%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 92%;
}

/*18-SUMA-ASEGURADA*/
.texto1-epicentro1, .texto1-epicentro2{
  font-size: 20px;
}
.imagen1-epicentro1, .imagen1-epicentro2{
  margin-left: auto;
  margin-right: auto;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: -35%;
}

/*Footer*/
.footermenu{
  position: static;
  height: 170px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  font-size: 14px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  font-size: 14px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 93px;
  font-size: 14px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -7%;
  margin-top: 29px;
  height: 48px;
  width: 141px;
}



    
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
/*.tamaño-renglon-1{
  padding-left: 8%; 
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}*/
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}
a.nav-link:hover{
  color: #000000;
}
.headerBar{
  margin-top: -2%;
}*/
/*CAMBIO DE BARRA DE NAVEGACIÓN*/
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: 3%;
  margin-top: 1%;
}
.btn-agregar{
  margin-right: -4%;
  margin-top: -5%;
}
.texto-ayuda{ /*Texto Centro de ayuda se oculta*/
  display: none;
}
.texto-notificacion{
  display: none;
}


/*----------------------------*/
/*analisis-completo.html*/
.texto1-seccion1{  /*Riesgo de ubicacion*/
  margin-top: 8%;
}
.texto2-seccion1{  /*Analisis completo*/
  margin-right: 12%;
  margin-top: 3%;
}
.material-icons.done-icon{
  color: #912F46;
  margin-right: 15%;
}
.texto1-seccion2{
  margin-top:-12%;
}
.part1{
  border-bottom: #912F46 1px solid ;
}
.part1:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 60%;  /* or 100px */
  background: transparent;
  margin-top: 35%; /*Centra la linea*/
}
.part2{
  border-bottom: #912F46 1px solid ;
}
.part2:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 60%;  /* or 100px */
  background: transparent;
  margin-top: 35%; /*Centra la linea*/
}
.imagen1-part1{
  margin-left: 38.5%;
}
.imagen2-part1{ /*Imagen estrella*/
  margin-left: 25%;
}
.boton1-seccion2{ /*Boton cotizar*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  margin-bottom: 30%;
}



/*7-CP.HTML*/
.texto1-cp{
  margin-top: 12%;
}
.texto_area_cp{
  width: 64%;
  margin-bottom: 14%;
}
/*input.invalid + label.head-label + label.bottom-label1 {
   top: 110px; 
}*/
.boton-siguiente{
  margin-top: -4%;
}


/*11-AÑOS.HTML*/
.texto1-tiempo{
  margin-top: 14%;
}
.texto_area_años{
  width: 90%;
}

/*12-SUPERFICIE.HTML*/
.texto1{
  margin-top: 14%;
  line-height: 47px;
  margin-bottom: 10%;
}
.texto_area_superficie{
  width: 90%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 92%;
}

/*18-SUMA-ASEGURADA*/
.texto1-epicentro1, .texto1-epicentro2{
  font-size: 20px;
}
.imagen1-epicentro1, .imagen1-epicentro2{
  width: 105%;
  margin-left: auto;
  margin-right: auto;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}



/*Footer*/
.footermenu{
  position: static;
  height: 170px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -2%;
  margin-top: 29px;
  height: 50px;
  width: 141px;
}






}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/*.tamaño-renglon-1{
  padding-left: 8%;
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
.headerBar{
  margin-top: -2%;
}*/
/*CAMBIO DE BARRA DE NAVEGACIÓN*/
.tamaño-renglon-1{
  padding-left: 10%;
}
.logo-freeda{
  margin-left: 17.5%;
  margin-top: 1%;
}

/*----------------------------*/
/*analisis-completo.html*/
.texto1-seccion1{  /*Riesgo de ubicacion*/
  margin-top: 8%;
}
.texto2-seccion1{  /*Analisis completo*/
  margin-right: 20%;
  margin-top: 3%;
}
.material-icons.done-icon{
  color: #912F46;
  margin-right: 15%;
}
.texto1-seccion2{
  margin-top: -5%;
  margin-bottom: -15%;
}
.part1{
  border-bottom: #912F46 1px solid ;
}
.part1:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 60%;  /* or 100px */
  background: transparent;
  margin-top: 35%; /*Centra la linea*/
}
.imagen1-part1{
  margin-left: 40%;
}
.part2{
  border-bottom: #912F46 1px solid ;
}
.part2:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 60%;  /* or 100px */
  background: transparent;
  margin-top: 35%; /*Centra la linea*/
}
.imagen2-part1{ /*Imagen estrella*/
  margin-left: 32%;
}
.boton1-seccion2{ /*Boton cotizar*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  margin-bottom: 25%;
}


/*7-CP.HTML*/
.texto1-cp{
  margin-top: 9%;
}
.texto_area_cp{
  width: 49%;
  margin-bottom: 10%;
}
/*input.invalid + label.head-label + label.bottom-label1 {
   top: 110px; 
}*/
/* .boton-siguiente{
  margin-left: 40%;
} */

/*11-AÑOS.HTML*/
.texto1-tiempo{
  margin-top: 11%;
}
.texto_area_años{
  width: 72%;
}

/*12-SUPERFICIE.HTML*/
.texto1{
  margin-top: 11%;
  margin-bottom: 6%;
}
.texto_area_superficie{
  width: 68%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 68%;
}

/*18-SUMA-ASEGURADA*/
.texto1-epicentro1, .texto1-epicentro2{
  font-size: 20px;
}
.imagen1-epicentro1, .imagen1-epicentro2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}


/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 5%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 29%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 53%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  display: block;
  margin-left: 83%;
  margin-top: 2px;
  height: 35px;
  width: 110px;
  position: absolute;
}




}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/*.tamaño-renglon-1{
  padding-left: 11%; 
}
.logo-freeda{
  margin-left: -38%;
}
.texto-menu-f{
  margin-left: 0%;
}
.headerBar{
  margin-top: 0%;
}*/
/*CAMBIO DE BARRA DE NAVEGACIÓN*/
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: 21%;
  margin-top: 1%;
}
.texto-ayuda{ /*Texto Centro de ayuda se oculta*/
  visibility: visible;
}
.texto-notificacion{
  display: all;
}

/*------------------*/
.part1{
  border-bottom: transparent;
}
.part1:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 70%;  /* or 100px */
  background: #912F46;
  margin-top: 35%; /*Centra la linea*/
}
.texto1-seccion1{
  margin-top: 5%;
  margin-right: 10%
}
.texto2-seccion1{
  width: 52%;
  margin-left: 58%;
  margin-top: -6%;
}
.texto1-seccion2{ /*Sabias que...*/
  margin-top: -10%;
  margin-bottom: -15%;
}
.imagen1-part1{
  margin-left: 25%;
}
.imagen2-part1{
  margin-left: 5%;
}
.texto1-part1, .texto2-part1{/*Distancia de la costa*/
  font-size: 22px;
}
.part2{
  border-bottom: transparent;
}
.part2:after{ /*Hace la linea mas pequeña*/
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 70%;  /* or 100px */
  background: #912F46;
  margin-top: 35%; /*Centra la linea*/
}
.texto1-part2, .texto3-part2, .texto3-part3{ /*El terremoto del 1985*/
  font-size: 18px;
}
.texto2-part2, .texto4-part2{ /*Derrumbe*/
  font-size: 18px;
}
.boton1-seccion2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 15%;
}

/*7-CP.HTML*/
.texto1-cp{
  margin-top: 7.7%;
}
.texto_area_cp{
  width: 40%;
  margin-bottom: 7%;
}
/* input.invalid + label.head-label + label.bottom-label1 {
  top: 110px;
} */
/* .boton-siguiente{
  margin-left: 42%;
} */

/*11-AÑOS.HTML*/
.texto1-tiempo{
  margin-top: 7.3%;
}
.texto_area_años{
  width: 50%;
}

/*12-SUPERFICIE.HTML*/
.texto1{
  margin-top: 7.3%;
  margin-bottom: 5%;
}
.texto_area_superficie{
  width: 50%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 50%;
}

 
/*18-SUMA-ASEGURADA*/
.texto1-epicentro1{
  font-size: 23px;
}
.texto1-epicentro2{
  font-size: 23px;
  margin-top: 5%;
}
.imagen1-epicentro1{
  width: 70%;
  margin-left: 15%;
}
.imagen1-epicentro2{
  width: 70%;
  margin-left: 15%;
}
.btn-contratar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 5%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 24%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 45%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2003;
}
/*.logo-footer{
  margin-left: 75%;
  margin-top: 5px;
  height: 60px;
  width: 50%;
  display: flex;
}*/



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
/*.tamaño-renglon-1{
  padding-left: 20%; 
}
.logo-freeda{
  margin-left: -100%;
}
.texto-menu-f{
  margin-left: 10%;
}*/
/*CAMBIO DE BARRA DE NAVEGACIÓN*/
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: 21.5%;
  margin-top: 3%;
}
/*--------------------------*/
.texto1-seccion1{
  margin-top: 4%;
  margin-right: 10%
}
.texto2-seccion1{
  width: 46%;
  margin-left: 60%;
  margin-top: -5%;
}
.texto1-seccion2{ /*Sabias que...*/
  margin-top: -10%;
}
.imagen1-part1{
  margin-left: 25%;
}
.imagen2-part1{
  margin-left: 15%;
}
.texto1-part1, .texto2-part1{/*Distancia de la costa*/
  font-size: 22px;
}
.texto1-part2, .texto3-part2, .texto3-part3{ /*El terremoto del 1985*/
  font-size: 20px;
}
.texto2-part2, .texto4-part2{ /*Derrumbe*/
  font-size: 20px;
}
.boton1-seccion2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 15%;
}



/*7-CP.HTML*/
.texto1-cp{
  margin-top: 6.5%;
}
.texto_area_cp{
  width: 37%;
  margin-bottom: 6%;
}
/* input.invalid + label.head-label + label.bottom-label1 {
  top: 110px;
} */
/* .boton-siguiente{
  margin-left: 43%;
} */


/*11-AÑOS.HTML*/
.texto1-tiempo{
  margin-top: 7.8%;
}
.texto_area_años{
  width: 45%;
}

/*12-SUPERFICIE.HTML*/
.texto1{
  margin-top: 7.8%;
  margin-bottom: 4%;
}
.texto_area_superficie{
  width: 45%;
}

/*13-TERRENO.HTML*/
.texto_area_terreno{
  width: 45%;
}


/*18-SUMA-ASEGURADA*/
.texto1-epicentro1{
  font-size: 25px;
}
.texto1-epicentro2{
  font-size: 25px;
  margin-top: 2%;
}
.imagen1-epicentro1{
  width: 60%;
  margin-left: 20%;
}
.imagen1-epicentro2{
  width: 60%;
  margin-left: 20%;
}

/*Footer*/
.texto1-footer{
  position: absolute;
  margin-left: 10%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 24%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 38.5%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 83%;
  /*margin-top: 5px;
  height: 60px;
  width: 150px;
  display: flex;*/
}


}
