/*Navegacion*/
/*Encabezado menú*/

.tamaño-renglon-1{
  position: fixed;
  height: 78px;
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: -55%;
  margin-bottom: 2%;
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  margin-left: 4%;
  padding-bottom: 4px;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 18px;
  color:#F7F7F7;
  margin-top: 3px;
  padding-right: 33px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu{
  position: absolute;
  left: 10%;
}
.material-icons{
  color: white;
}
.texto-clase{
  font-family: 'Raleway',sans-serif;
  color: #912F46;
  font-size: 40px;
}

.zona-btns{ /*Botones Tipo-propiedad.html*/
  margin-top: -4%;
}
.zona-btns2{ /*Botones Clase-inmueble.html*/
  margin-top: -4%;
  margin-bottom: 10%;
}

/*FOOTER
/*Footermenu
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
  background: #99cccc;   /* PRUEBA
}
.texto1-footermenu{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
  padding-left: 10%;
  margin-top: 28px;
  z-index: 2001;
}
.texto2-footermenu{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto3-footermenu{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto4-footermenu{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}
.logo-footermenu{
  margin-left: 66%;
  margin-top: 20px;
  height: 48px;
  width: 158px;
  display: flex;
}
.logo-footermenu{
  margin-left: 66%;
  margin-top: -10px;
  height: 55px;
  width: 199px;
  display: flex;
}*/




/*NUEVO FOOTER*/
/*Footermenu*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
  padding-top: 2%;
  /*background: #99cccc;   /* PRUEBA*/
}
/*.texto1-footermenu{
  display: flex;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
  padding-left: 5%;
  margin-top: 28px;
  z-index: 2001;
} */
.texto1-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px; /*Separacion entre textos*/
  padding-left: 5%;
  margin-top: 28px;
  z-index: 2001;
}
.texto2-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto3-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto4-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
}
.texto5-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
  text-decoration: none;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}
.logo-footer{
  width: 160px;
  height: 60px;
  display: flex;
  margin-left: 80%;
  margin-top: -3%;
}




/*SeccionBoton SIGUIENTE*/
.seccion-siguiente{
  max-width: 900px;
  padding-top: 130px;
  padding-bottom: 50px;
  /*background: #bfe7e5;        /*PRUEBA*/
} 

.boton-siguiente{
  position: absolute;
  margin-left: 38%;
  margin-top: -13%;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.boton-siguiente:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}

.boton-siguiente:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}

.boton-siguiente:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}






/* */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


html, body{
    height: 100%;
}
/*
a{
    height: 24px;
    color: #989A9B;
    text-decoration: none;
    display: inline-block;
}

a:focus{outline:none;}
*/

/*HACE EFECTO EN LAS LETRAS DEL BOTTON*/
h3{
    font-weight: normal;
    color: #989A9B;
}
/*HACE EFECTO EN EL BOTTON LO ALARGA*/
button{
    border: 1.5px solid #C7C7C7;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
}



/********BOTONES********/


/*BORDE DEL BOTON  #60A1E7*/
button:focus{
    border: 5px solid #F9919C; /*Borde el boton*/
    outline: none; /* quita borde azul al hacer focus */
}

/*FONDO DEL BOTON AL DAR CLIC #A7CBF2*/
button:active{
    background-color: #989A9B;
}
 /*CUANDO TE POSISCIONAS */
button.activeHover:hover{
    background-color: #912F46 !important;
    border: none !important;
}

button.activeHover:hover .rectangle_content .button_text, button.activeHover:hover .cls-1{
    color: #FFFFFF !important; /*color de la letra*/
    fill: #989A9B !important;
}

/*AJUSTA LOS BOTONES EN MEDIO*/
.rectangle{
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
}


/*TAMAÑO DEL BOTON*/
.rectangle_content{
    display: inline-block;
    width: 56%;
    margin-left: 10%;
    margin-right: 15%;
    text-align: left;
}

.rectangle_icon{
    display: inline-block;
}

/*HACE EFECTO EN EL ICONO*/
.icono{
    width: 50px;
    height: 50px;
}

/* Estilos del contenedor con la descripcion de la Clase */
.textoContenedor{
  border: 1.5px solid #C7C7C7;
  border-radius: 5px;
}

button.Continuar{
  display: block;
  background-color: #912F46;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 300px;
}

button.Continuar:hover{
  background-color: rgb(180, 66, 92);
  border: none;
}
p.textoClase{
  color: #3B536D;
  font-weight: lighter;
  font-size: 16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
/* *********************** */

/*
.material-icons.md-24b{
    font-size: 24px;
}
*/


/*-----------MEDIAS QUERIES----------*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/*body{
  background-color: red;
}*/
.logo-freeda{
  padding-right: 1%;
  margin-top: -7%;
}
.boton-menu{
  position: absolute;
  left: 34%;
}


.texto-clase{
  padding-top:17%;
  text-align: center;
  margin-bottom: 10%;
}


h3{
  font-size: 16px;
}


.rectangle{
  width: 90%;
  height: 80px;
  margin-bottom: 15px;
  margin-top: 15px;
}

button{
  height: 80px;
}

.rectangle_content{
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}

.icono{
  width: 40px;
  height: 40px;
}

.boton-siguiente{
  margin-top: -15%;
  margin-left: 28%;
}

.footer-freeda{
    padding-left: 144px;
  }

button.Continuar.Small{
  width: 30%;
  height: 35px;
  margin: 7px auto;
}
}




/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media only screen and (min-width: 600px) {
/*body{
  background-color: green;
}*/
.logo-freeda{
  padding-right: 15%;
  margin-top: -7%;
}
.boton-menu{
  position: absolute;
  left: 34%;
}

.texto-clase{ /*¿Que clase de inmueble es?*/
  padding-top: 14%;
  text-align: center;
  margin-bottom: 8%;
}


/*CAMBIA EL TAMAÑO DE LA LETRA*/

h3{
  font-size: 22px;
  }

  /*RECTANGULO DE BOTON*/
.rectangle{
  width: 443px;
  height: 104px;
  margin-top: 5%;
  margin-bottom: 5%;
}

button{
  height: 104px;
}

.boton-siguiente{
  margin-top: -15%;
  margin-left: 35%;
}

.footer-freeda{
    padding-left: 300px;
  }
button.Continuar.Small{
  width: 30%;
  height: 35px;
  margin: 7px auto;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/*body{
  background-color: orange;
}*/
.logo-freeda{
  padding-right: 15%;
  margin-top: -7%;
}
.boton-menu{
  position: absolute;
  left: 34%;
}
.texto-clase{ /*¿Que clase de inmueble es?*/
  padding-top: 11%;
  text-align: center;
  margin-bottom: 8%;
}


h3{
  font-size: 19px;
}

.rectangle{
  width: 468.95px;
  height: 96.33px;
  margin-top: 4%;
  margin-bottom: 4%;
}

button{
  height: 96.33px;
}

.boton-siguiente{
  margin-top: -15%;
  margin-left: 37%;
}

.footer-freeda{
    padding-left: 400px;
  }
  .logo-footer{
  display: none;
}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/*body{
  background-color: violet;
} */

.texto-clase{ /*¿Que clase de inmueble es?*/
  padding-top: 9%;
  text-align: center;
  margin-bottom: 8%;
}

h3{
  font-size: 22px;
}

.rectangle{
  width: 506.29px;
  height: 104px;
  margin-top: 2%;
  margin-bottom: 2%;
}

button{
  height: 104px;
}

.boton-siguiente{
  margin-top: -10%;
  margin-left: 35%;
}

.footer-freeda{
    padding-left: 758px;
  }
.logo-footer{
  display: none;
}
}


/*  || ANIMATIONS  */

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*INPUTS */









