/*Navegacion*/
/*Encabezado menú*/
.tamaño-renglon-1{
  position: fixed;
  height: 78px;
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: -55%;
  margin-bottom: 2%;
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  margin-left: 4%;
  padding-bottom: 4px;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 18px;
  color:#F7F7F7;
  margin-top: 3px;
  padding-right: 33px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}

/*BARRA DE PROGRESO*/
.espacio-progreso{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  /*background: #bfe7e5;        /*PRUEBA*/
}
.headerBar{ /*CONTENEDOR < >*/
  height: 35px;
  text-align: center;
}
.material-icons.icon-arrow{
  font-size: 35px;
  color: #912F46;
}
.Menu.Left{
  margin-left: 10%;
  float: left;
}
.Menu.Right{
  margin-right: 10%;
  float: right;
}
#Progress{
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
  height: 13px;
  background-color: #EAEAEA;
  border-radius: 5px;
}
#bar{ /*PROGRESO 20%*/
  position: absolute;
  height: 100%;
  background-color: #912F46;
  border-radius: 5px;
}

/*14-CONTRATAR.HTML*/
.texto1{ /*Información*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 25px;
  /*margin-top: 10%;*/
}
.texto2{ /*Números*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #912F46; 
  font-size: 40px;
  letter-spacing: 0.8px;
  margin-bottom: -10%;
}
/*SECCIÓN imagen casa.svg*/
.part1{
  padding-bottom: 100px;
  height: 250px;
}
.imagen-casa{ /*medio-gris.svg*/
  width: 30%;
  margin-top: 5%;
  margin-left: 70%;
}
/*TABLA de datos*/
.part2{
  padding-bottom: 100px;
  height: 250px; 
  /*border: 5px solid #912F46; /*PRUEBA*/
}
.texto-clase{ /*Casa*/
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #912F46;
  padding: 10px 0 15px 0;
}
.texto-medidas{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 12px;
  margin-right:50%;
}
td{
  vertical-align: top;
  padding-right: 4%; /*Centrar el texto*/
  padding-left: 4%; /*Centrar el texto*/
}
td.col_l{
  width: 50%; /*auto*/
  text-align: left;
  line-height: 30px; /*Sangria*/
}
td.col_r{
  width: auto;
  text-align: left;
  line-height: 30px; /*Sangria*/
}

.texto-1{ /*El precio de contratar...*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000000; 
  font-size: 25px;
  margin-top: 0%;
}
#circulo{
  width: 150px;
  height: 150px;
  background: #912F46;
  border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.precio{ /*$59*/
  text-align: center;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  padding-top: 31px;
}
.seccion-link{/*Link conoce cobertura*/
  padding-top: 12px;
  padding-bottom: 12px;
}
.underlineHover{  /*Conocer coberturas*/
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #707070;
  text-align: center;
  padding: 30px 0 10px 0;
} 
.underlineHover:hover {
  color: #912F46;
}
/*BOTÓN siguiente*/
.btn-siguiente{
  /*position: absolute;*/
  /*margin-top: -18%;*/
  /*margin-left: 0%; Centrar*/
  margin-top: 3%;
  margin-bottom: 10%; /*Dar espacio hacia abajo*/
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.btn-siguiente:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.btn-siguiente:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.btn-siguiente:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}


/*16-DATOS-ASEGURADO.HTML*/
.seccion1{
  position: static;
  height: 220px;
  width: 100%;
  /*background: #DEDEDE; /*Prueba */
}
.texto1-seccion1{
  font-size: 40px; /*Tamaño letra*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
  margin-top: 10%;
}
.texto_area_rfc{/*RFC*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 36.5%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif; 
  position: relative;
}
.texto_area_regis{ /*Nombre de usuario, Apellidos*/
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 36%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif; 
  position: relative;
}
.data_input_aseg{ /*HACER MAS GRANDE LOS RECUADROS*/
  width: 100%;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 6px;
}

label.head-label, label.bottom-label1{
  padding: 5px 0;
  width: 95%; /*Alinea el texto de arriba*/
  margin-left: auto; /*Alinea el texto de arriba*/
  margin-right: auto; /*Alinea el texto de arriba*/
  font-size: 15px; /*Letra chiquita arriba del cuadro*/
  font-weight: 300; 
  font-family: 'Raleway', sans-serif;
  display: none; /*Desaparese*/
  color: #989A9B;
  text-align: left;
  position: absolute;
  top: -15px;
  left: 20px;
  -webkit-animation: silo-fade 0.2s; /*Google*/
  -moz-animation: silo-fade 0.2s; /*Motzilla*/
  animation: silo-fade 0.2s; /*Google*/
}
input:focus{outline: none;}
/*Hace la animacion de aparecer cuando se da clic*/
input.invalid + label.head-label, input:focus + label.head-label, input:not(:placeholder-shown) + label.head-label{
  display: block;
}
input.invalid + label.head-label + label.bottom-label1{
  display: block;
  color:#FF4B4B;
  font-weight: 500;
  position: absolute;
  top: 45px;
  left: 20px;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input.valid{
  color: #912F46;
  font-weight: 500;
}
input.invalid{
  color:#FF4B4B;
  font-weight: 300;
  border-bottom: 1px solid #FF4B4B;
}
input.invalid + label.head-label{
  color:#989A9B;
}
input.quantity-field{
  border: 1.5px solid #C7C7C7;
  text-align: center;
}

.label-date{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  margin-left: 32%;
}
select{
  margin: 0 auto;
  color: #912F46;
  background-color: white;
  font-size: 16px;
}
select:focus{
  outline: 0;
}
.nacimiento1{ /*Dia */
  font-family: 'Raleway', sans-serif; 
  font-size: 18px;
  width: 5%;
  margin-top: 3%;
  /*margin-left: 33%;*/
}
.nacimiento2{ /*Mes */
  width: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
.nacimiento3{ /*Año */
  width: 5%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
/*BOTON GENERAR PÓLIZA*/
.btn-generar{
 /* position: absolute;
  margin-left: 40%;
  margin-top: 6%;
  margin-top: -13%;*/
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.btn-generar:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.btn-generar:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.btn-generar:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}
/*.texto_area{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 16px;
  width: 30%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}*/
.seccion-siguiente{
  max-width: 900px;
  padding-top: 120px;
  padding-bottom: 110px;  
  /*background: #bfe7e5;        /*PRUEBA*/
}



/*NUEVO FOOTER*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
  padding-top: 2%;
  /*background: #99cccc;   /* PRUEBA*/
}
.texto1-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px; /*Separacion entre textos*/
  padding-left: 5%;
  margin-top: 28px;
  z-index: 2001;
}
.texto2-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto3-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto4-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
}
.texto5-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
  text-decoration: none;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}
.logo-footer{
  width: 160px;
  height: 60px;
  display: flex;
  margin-left: 80%;
  margin-top: -3%;
}

/* ESTILOS PARA EL LOADER */
#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
  opacity: 0.9;
}
.center_container{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index:6;
  position: absolute;
  top: 50%;
  left: calc(50% - 250px);
  display: none;
  opacity: 1;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #912F46;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}



#progress_loader{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 13px;
  background-color: #EAEAEA;
  border-radius: 5px;
}

#bar_loader{
position: absolute;
height: 100%;
background-color: #912F46;
border-radius: 5px;
}
h3#caption_loader{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
/* ++++++++++++++++++++++ */




/*---------MEDIA QUERIES---------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*----------------------------*/
/*14-CONTRATAR.HTML*/
.texto1{
  margin-top: 15%;
}
.part1{
  width: 50%;
}
.imagen-casa{
  width: 55%;
  margin-top: 33%;
  margin-left: 30%;
}
.part2{
  width: 50%;
}
.btn-siguiente{ /*Boton siguiente*/
  margin-left: 2%;
  margin-bottom: 23%;
}


/*16-DATOS-ASEGURADO.HTML*/
.texto1-seccion1{
  margin-top: 28%;
}
.texto_area_rfc, .texto_area_regis{
  width: 76%;
}
.label-date{
  margin-left: 14%;
}
.nacimiento1{ /*Día*/
  width: 18%;
  margin-left: 15%;
  margin-top: 8%;
}
.nacimiento2{ /*Mes*/
  width: 32%;
}
.nacimiento3{ /*Año*/
  width: 18%;
}
.btn-generar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  margin-bottom: 35%;

}
input.invalid + label.head-label + label.bottom-label1 {
  /* top: 110px; */
  width: 95%;
}

/*Footer*/
.logo-footer{
  display: none;
}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*----------------------------*/
/*14-CONTRATAR.HTML*/
.texto1{
  margin-top: 15%;
}
/*.part1, .part2{
  width: 50%;
}*/
.imagen-casa{
  width: 55%;
  margin-top: 35%;
  margin-left: 30%;
}
.btn-siguiente{ /*Boton siguiente*/
  margin-left: 2%;
  margin-bottom: 21%;
}


/*16-DATOS-ASEGURADO.HTML*/
.texto1-seccion1{
  margin-top: 27%;
}
.texto_area_rfc, .texto_area_regis{
  width: 76%;
}
.label-date{
  margin-left: 14%;
}
.nacimiento1{ /*Día*/
  width: 18%;
  margin-left: 14%;
  margin-top: 6%;
}
.nacimiento2{ /*Mes*/
  width: 34%;
}
.nacimiento3{ /*Año*/
  width: 18%;
}
.btn-generar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
  margin-bottom: 31%;
}
input.invalid + label.head-label + label.bottom-label1 {
/* top: 110px; */
width: 95%;
}


/*Footer*/
.footermenu{ /*Politicas de privacidad*/
  padding-right: 180px;
  height: 130px;
  background-color: white;
}
.texto1-footer{
  margin-right: 15px;
}

.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.tamaño-renglon-1{
  padding-left: 10%;
}
.logo-freeda{
  margin-left: -10%;
  margin-top: -7.5%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*----------------------------*/
/*14-CONTRATAR.HTML*/
.texto1{
  margin-top: 12%;
}
/*.part1, .part2{
  width: 50%;
}*/
.imagen-casa{
  margin-top: 15%;
}
.btn-siguiente{ /*Boton siguiente*/
  margin-left: 2%;
  margin-bottom: 16%;
}


/*16-DATOS-ASEGURADO.HTML*/
.texto1-seccion1{
  margin-top: 20%;
}
.texto_area_rfc, .texto_area_regis{
  width: 56%;
}
.label-date{
  margin-left: 23%;
}
.nacimiento1{ /*Día*/
  width: 13.5%;
  margin-left: 23.6%;
  margin-top: 6%;
}
.nacimiento2{ /*Mes*/
  width: 24.5%;
}
.nacimiento3{ /*Año*/
  width: 13.5%;
}
.btn-generar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  margin-bottom: 25%;
}
input.invalid + label.head-label + label.bottom-label1 {
  /* top: 110px; */
  width: 95%;
}


/*Footer*/
.footermenu{
  padding-right: 150px;
  background-color: white;
}
.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: 1%;
}
/*------------------*/
/*14-CONTRATAR.HTML*/
.texto1{
  margin-top: 8%;
}
/*.part1, .part2{
  width: 50%;
}*/
.imagen-casa{
  width: 55%;
  margin-top: 0%;
  margin-left: 30%;
}
.btn-siguiente{ /*Boton siguiente*/
  margin-left: 2%;
  margin-bottom: 12%;
}


/*16-DATOS-ASEGURADO.HTML*/
.texto1-seccion1{
  margin-top: 15%;
}
.texto_area_rfc, .texto_area_regis{
  width: 42%;
}
.label-date{
  margin-left: 29%;
}
.nacimiento1{ /*Día*/
  width: 10.5%;
  margin-left: 30%;
  margin-top: 4%;
}
.nacimiento2{ /*Mes*/
  width: 18%;
}
.nacimiento3{ /*Año*/
  width: 10.5%;
}
.btn-generar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}
input.invalid + label.head-label + label.bottom-label1{
  /* top: 110px; */
  width: 95%;
}


/*Footer*/
.footermenu{
  padding-right: 45px;
}
.logo-footer{
  margin-left: 78%;
  height: 60px;
}
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
margin-left: -55%;
margin-top: 1%;
}
/*--------------------------*/
/*14-CONTRATAR.HTML*/
.texto1{
  margin-top: 8%;
}
.imagen-casa{
  width: 45%;
  margin-left: 40%;
}
.btn-siguiente{ /*Boton siguiente*/
  margin-left: 0%;
  margin-bottom: 10%;
}
/*.part1, .part2{
  width: 50%;
}*/


/*16-DATOS-ASEGURADO.HTML*/
.texto1-seccion1{
  margin-top: 13%;
}
.texto_area_rfc, .texto_area_regis{
  width: 37%;
}
.label-date{
  margin-left: 31.5%;
}
.nacimiento1{ /*Día*/
  width: 9%;
  margin-left: 32.5%;
  margin-top: 3%;
}
.nacimiento2{ /*Mes*/
  width: 16%;
}
.nacimiento3{ /*Año*/
  width: 9%;
}
.btn-generar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}
input.invalid + label.head-label + label.bottom-label1{
 /* top: 110px; */
 width: 95%;
}


/*Footer*/
.footermenu{
  padding-left: 115px;
}
.logo-footer{
  margin-left: 78%;
}
}

/*  || ANIMATIONS  */

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
