*{
  font-family: 'Roboto',sans-serif;
}
/*Navegacion*/
.tamaño-renglon-1{
  position: fixed;
  /* height: 78px; */
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: 19%; /*-55*/
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  /*margin-left: 5%;*/
  padding-bottom: 4px;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 20px;
  color:#F7F7F7; /*F7F7F7*/
  margin-top: 3px;
  padding-right: 30px;
  font-weight: 400;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.posicion-item{
  margin-top: 5px;
  padding-right: 0px;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}
/*Boton cotizar seguro*/
.boton2-menu{
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 150px; /*150*/
  height: 52px;
  text-align: center;
  letter-spacing: 0.52px;
  color: #912F46;
  text-transform: uppercase;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  font-size: 15px; /*13px*/

  font-weight: 500;
}
.boton2-menu:hover{
  background: #912F46 0% 0% no-repeat padding-box;
  color: #000000;
  border: 1px solid #FFFFFF;
}
.boton2-menu:active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
}
.boton2-menu:focus{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #6CBB8E;
}

/*Video Freeda*/
.video1{ 
  position: static;
  margin-top: 50%;
  width: 60%;
  height: 70%; /**/
  margin: auto;
  display: block;
  outline-color: white;
}


/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
ul{ /*Contenedor botones*/
  padding-bottom: 3%;
}
.carousel-indicators li{ /*CIRCULOS*/
  background-color: #912F46;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}


/*Seccion de espacio*/
.seccion-espacio{
  position: static;
  height: 100px;
  width: 100%;
  padding-top: 50px;
}

/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 21%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 30%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 39%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 66%;
  margin-top: 20px;
  height: 48px;
  width: 158px;
  display: flex;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}


/*---------MEDIA QUERIES---------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.tamaño-renglon-1{
  padding-left: 8%; /*9*/
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/* .menu-freeda{
  background-color: #912f46;
} */
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
.boton2-menu{
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2%; */
}
/*----------------------------*/

/*Indexfreeda.html*/
.video1{
  margin-top: 25%;
  width: 100%;
}
.carousel-inner img {
  width: 120%;
  height: 100%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto;
  margin-top: -33%;
}*/

/*Footer
.logo-footer{
  display: none;
}*/

.footermenu{
  position: static;
  height: 170px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  font-size: 14px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  font-size: 14px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 93px;
  font-size: 14px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -7%;
  margin-top: 29px;
  height: 48px;
  width: 141px;
}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.tamaño-renglon-1{
  padding-left: 8%; /*9*/
}
.logo-freeda{
  margin-left: -18%;
  /*margin-top: -7%;*/
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/* .menu-freeda{
  background-color: #912f46;
} */
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
.boton2-menu{
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2%; */
}
/*----------------------------*/
/*Indexfreeda.html*/
.video1{
  margin-top: 27%;
  width: 100%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto;
  margin-top: -33%;
}*/

/*Footer*/
.footermenu{
  position: static;
  height: 170px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -2%;
  margin-top: 29px;
  height: 50px;
  width: 141px;
}
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.tamaño-renglon-1{
  padding-left: 8%;
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*----------------------------*/
/*Indexfreeda.html*/
.video1{
  margin-top: 20%;
  width: 100%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto;
  margin-top: -33%;
}*/
/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 5%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 29%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 53%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  display: block;
  margin-left: 83%;
  margin-top: 2px;
  height: 35px;
  width: 110px;
  position: absolute;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.tamaño-renglon-1{
  padding-left: 11%; /*9*/
}
.logo-freeda{
  margin-left: -38%;
}
.texto-menu-f{
  margin-left: 0%;
}
.boton2-menu{
  margin-right: 0%;
  width: 100px;
  /* margin-left: 48%; */
}
/*------------------*/
/*Indexfreeda.html*/
.video1{
  margin-top: 20%;
  width: 100%;
}

/*BOTONES SLIDER
.boton-conoce{
  width: 160px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 160px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto;
}*/

/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 5%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 24%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 45%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2003;
}
/*.logo-footer{
  margin-left: 75%;
  margin-top: 5px;
  height: 60px;
  width: 50%;
  display: flex;
}*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.tamaño-renglon-1{
  padding-left: 20%; /*9*/
}
.logo-freeda{
  margin-left: -100%;
}

.texto-menu-f{
  margin-left: 10%;
}
.boton2-menu{
  width: 160px;
  /* margin-left: 38%; */
}

/*--------------------------*/
.video1{
  width: 100%;
  margin-top: 16%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 170px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 170px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto;
}*/

/*Footer*/
.texto1-footer{
  position: absolute;
  margin-left: 10%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 24%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 38.5%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 83%;
  /*margin-top: 5px;
  height: 60px;
  width: 150px;
  display: flex;*/
}

}
