/*Navegacion*/
.tamaño-renglon-1{
  position: fixed;
  /* height: 78px; */
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: -55%;
  margin-bottom: 2%;
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  margin-left: 5%;
  padding-bottom: 4px;
  background-color: #912f46;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 18px;
  color:#F7F7F7;
  margin-top: 3px;
  padding-right: 33px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}
/*Boton cotizar seguro*/
.boton2-menu{
  /*position: absolute;
  margin-left: 40%;*/
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 150px;
  height: 42px;
  text-align: center;
  letter-spacing: 0.52px;
  color: #912F46;
  text-transform: uppercase;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.boton2-menu:hover{
  background: #912F46 0% 0% no-repeat padding-box;
  color: #000000;
  border: 1px solid #FFFFFF;
}
.boton2-menu:active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
}
.boton2-menu:focus{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #6CBB8E;
}

/*Video Freeda*/
.video1{ 
  position: static;
  margin-top: 50%;
  width: 60%;
  height: 70%; /**/
  margin: auto;
  display: block;
  outline-color: white;
}


/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
ul{ /*Contenedor botones*/
  padding-bottom: 3%;
}
.carousel-indicators li{ /*CIRCULOS*/
  background-color: #912F46;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}


/*Seccion de espacio*/
.seccion-espacio{
  position: static;
  height: 100px;
  width: 100%;
  padding-top: 50px;
}


/*SLIDER Boton CONOCE MAS...
.boton-conoce{
  position: absolute;
  margin-left: -8%;
  margin-top: -40%;
  border: 1px solid #FFFFFF; /*Margen de boton
  border-radius: 5px; /*Ovalado/redondo
  width: 200px; /*Tamaño
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra
  text-transform: uppercase; /*Todas mayusculas
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.boton-conoce:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.boton-conoce:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.boton-conoce:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}*/
/*SLIDER Boton INICAR SESIÓN
.boton-iniciar{
  position: absolute;
  margin-left: -8%;
  margin-top: -35%;
  border: 1px solid #912F46; 
  border-radius: 5px; 
  width: 200px; 
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #912F46; 
  text-transform: uppercase; 
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box; 
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.boton-iniciar:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.boton-iniciar:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.boton-iniciar:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}*/

/*NUEVO FOOTER*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
  padding-top: 2%;
  /*background: #99cccc;   /* PRUEBA*/
}
.texto1-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px; /*Separacion entre textos*/
  padding-left: 5%;
  margin-top: 28px;
  z-index: 2001;
}
.texto2-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto3-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto4-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
}
.texto5-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
  text-decoration: none;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}
.logo-footer{
  width: 160px;
  height: 60px;
  display: flex;
  margin-left: 80%;
  margin-top: -3%;
}


/*---------MEDIA QUERIES---------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/* .menu-freeda{
  background-color: #912f46;
} */
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
.boton2-menu{
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2%; */
}
/*----------------------------*/

/*Indexfreeda.html*/
.video1{
  margin-top: 25%;
  width: 100%;
}
.carousel-inner img {
  width: 120%;
  height: 100%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto;
  margin-top: -33%;
}*/

/*Footer*/
.logo-footer{
  display: none;
}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.tamaño-renglon-1{

  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}

/* .menu-freeda{
  background-color: #912f46;
} */
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
.boton2-menu{
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2%; */
}
/*----------------------------*/
/*Indexfreeda.html*/
.video1{
  margin-top: 20%;
  width: 100%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto;
  margin-top: -33%;
}*/


/*Footer*/
.footermenu{ /*Politicas de privacidad*/
  padding-right: 180px;
  height: 130px;
  background-color: white;
}
.texto1-footer{
  margin-right: 15px;
}

.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.tamaño-renglon-1{

  padding-left: 10%;
}
.logo-freeda{
  margin-left: -10%;
  margin-top: -7.5%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*----------------------------*/
/*Indexfreeda.html*/
.video1{
  margin-top: 20%;
  width: 100%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 130px;
  height: 30px;
  font-size: 10px;
  margin-right:auto;
  margin-left: auto;
  margin-top: -33%;
}*/



/*Footer*/
.footermenu{
  padding-right: 150px;
  background-color: white;
}
.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.tamaño-renglon-1{
  padding-left: 15%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: 1%;
}
.texto-menu-f{
margin-left: -10%;
}

.boton2-menu{
  width: 100px;
  /* margin-left: 48%; */
}
/*------------------*/
/*Indexfreeda.html*/
.video1{
  margin-top: 20%;
  width: 100%;
}

/*BOTONES SLIDER
.boton-conoce{
  width: 160px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 160px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto;
}*/

/*Footer*/
.footermenu{
  padding-right: 45px;
}
.logo-footer{
  margin-left: 78%;
  height: 60px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
margin-left: -55%;
margin-top: 1%;
}
.texto-menu-f{
  margin-left: -14%;
}
.boton2-menu{
  width: 150px;
  /* margin-left: 38%; */
}

/*--------------------------*/
.video1{
  width: 100%;
  margin-top: 10%;
}
/*BOTONES SLIDER
.boton-conoce{
  width: 170px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto; 
}
.boton-iniciar{
  width: 170px;
  height: 40px;
  font-size: 15px;
  margin-right:auto;
  margin-left: auto;
}*/




/*Footer*/
.footermenu{
  padding-left: 115px;
}
.logo-footer{
  margin-left: 78%;
}
}
