/*Navegacion*/
.tamaño-renglon-1{
  position: fixed;
  /* height: 78px; */
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: 19%; /*-55*/
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  /*margin-left: 5%;*/
  padding-bottom: 4px;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 20px;
  color:#F7F7F7; /*F7F7F7*/
  margin-top: 3px;
  padding-right: 30px;
  font-weight: 400;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}


/* @charset "US-ASCII"; */
@import "https://fonts.googleapis.com/css2?family=Questrial&display=swap";
/*@import "https://fonts.googleapis.com/css?family=Raleway&display=swap"*/		
.card_container *{
  color: #444;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.card_container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
::-webkit-input-placeholder {
font-style: italic;
}
:-moz-placeholder {
font-style: italic;
}
::-moz-placeholder {
font-style: italic;
}
:-ms-input-placeholder {  
font-style: italic;
}
strong {
  font-weight: 700;
}
.card_container .a {
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.card_container a { /*button*/
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  padding: 12px 0;
  width: 100%;
  display: table;
  background: #E51F04;
  background: -moz-linear-gradient(top,  #E51F04 0%, #A60000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E51F04), color-stop(100%,#A60000));
  background: -webkit-linear-gradient(top,  #E51F04 0%,#A60000 100%);
  background: -o-linear-gradient(top,  #E51F04 0%,#A60000 100%);
  background: -ms-linear-gradient(top,  #E51F04 0%,#A60000 100%);
  background: linear-gradient(top,  #E51F04 0%,#A60000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E51F04', endColorstr='#A60000',GradientType=0 );
}
.card_container a i { /*button*/
  margin-right: 10px;
}
.card_container a.disabled { /*button*/
  background: none repeat scroll 0 0 #ccc;
  cursor: default;
}
.bkng-tb-cntnt a { /*button*/
  color: #fff;
  float: right;
  font-size: 18px;
  padding: 5px 20px;
  width: auto;
}
.bkng-tb-cntnt a.o { /*button*/
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #912F46;
  border: 1px solid #912F46;
}
.bkng-tb-cntnt a i { /*button*/
  color: #fff;
}
.bkng-tb-cntnt a.o i { /*button*/
  color: #912F46;
}
.bkng-tb-cntnt a.right i { /*button*/
  float: right;
  margin: 2px 0 0 10px;
}
.bkng-tb-cntnt a.left { /*button*/
  float: left;
}
.bkng-tb-cntnt a.disabled.o { /*button*/
  border-color: #ccc;
  color: #ccc;
}
.bkng-tb-cntnt a.disabled.o i { /*button*/
  color: #ccc;
}
.sctn-col input {
  text-align: center;
  border: 1px solid #ccc;
}
.pymnt-itm h2 {
  background-color: #e9e9e9;
}
.pymnt-itm.active h2 {
  background-color: #EBEBEB;
  color: #000;
  cursor: default;
  text-align: left;
  font-weight: 300;
}
.pymnt-itm div.pymnt-cntnt {
  display: none;
}
.pymnt-itm.active div.pymnt-cntnt {
  background-color: #f7f7f7;
  display: block;
  padding: 0 0 30px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
  background-image: url("../img/cvv.png");
  background-repeat: no-repeat;
}
.openpay {
  float: right;
}
.openpay div.logo_card {
  background-image: url("../img/openpay.png");
  background-repeat: no-repeat;
  font-size: 12px;
  font-weight: 400;
  height: 45px;
}
div.shield {
  background-image: url("../img/security.png");
  background-repeat: no-repeat; /*Hace que la imagen insertada no se repita*/
  font-size: 12px;
  font-weight: 400;
  margin-right: 30%;
 }
.card-expl {
  float: left;
 }
.card-expl div {
  background-position: left 45px;
  background-repeat: no-repeat;
}
.card-expl div.debit {
  background-image: url("../img/cards2.png");
}
.card-expl div.credit {
  background-image: url("../img/cards1.png");
}
.card-expl h4 {
  font-weight: 400;
  margin: 0;
}
/*BARRA DE PROGRESO*/
.espacio-progreso{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  /*background: #bfe7e5;        /*PRUEBA*/
}
.headerBar{ /*CONTENEDOR < >*/
  height: 35px;
  text-align: center;
}
.material-icons.icon-arrow{
  font-size: 35px;
  color: #912F46;
}
.Menu.Left{
  margin-left: 10%;
  float: left;
}
.Menu.Right{
  margin-right: 10%;
  float: right;
}
#Progress{
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
  height: 13px;
  background-color: #EAEAEA;
  border-radius: 5px;
}
#bar{ /*PROGRESO 20%*/
  position: absolute;
  height: 100%;
  background-color: #912F46;
  border-radius: 5px;
}

/*Seguro primeros gastos terremoto*/
#insuranceValue_container{
  height: 100px;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 0 30px #DEDEDE;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
/*$2,361.26*/
.centerValue{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
#insuranceValue_label, #insuranceValue, #insuranceValue_mxn{
  color: #912F46;
  margin: 0;
}
#insuranceValue_mxn, #insuranceValue{
  font-weight: 500;
}
#insuranceValue_label{
  font-weight: 400;
  width: 100%;    
}

/*Seccion1*/
.seccion-texto{
  position: static;
  height: 200px;
  width: 100%; 
}
.texto1-titulo{
  font-size: 40px; /*Tamaño letra*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 30px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
  margin-top: 12%;
}

/*BOTON PAGAR*/
.boton-pagar{
  position: absolute;
  margin-left: 65%;
  margin-top: -5%;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.boton-pagar:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.boton-pagar:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.boton-pagar:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}

/* ESTILOS PARA EL LOADER */
#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
  opacity: 0.9;
}
.center_container{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index:6;
  position: fixed;
  top: 50%;
  left: calc(50% - 250px);
  display: none;
  opacity: 1;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #912F46;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}



#progress_loader{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 13px;
  background-color: #EAEAEA;
  border-radius: 5px;
}

#bar_loader{
position: absolute;
height: 100%;
background-color: #912F46;
border-radius: 5px;
}
h3#caption_loader{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/*  || ANIMATIONS  */

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ++++++++++++++++++++++ */


/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 21%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 30%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 39%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 66%;
  margin-top: 20px;
  height: 48px;
  width: 158px;
  display: flex;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}

/*Animations*/
@-webkit-keyframes silo-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.4em);
    }
    100% {
     opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/*---------------Media Queries--------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/*.tamaño-renglon-1{
  padding-left: 10%;
}
.logo-freeda{
  margin-left: -10%;
  margin-top: -7.5%;
}
.menu-freeda{
  position: absolute;
  margin-left: -80px;
  margin-right: 30px;
  margin-top: 11px;
  background-color: #FFFFFF;
  width: 100vh;
  min-height: 100vh;
}
.texto-menu{
  padding-right: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 33px;
  margin-left: 175px;
  margin-top: 30px;
  letter-spacing: 0.35px;
  color: #FFFFFF;
}
.t1m{
  margin-top: 200px;
}
.tmbl{
  font-weight: 700;
}
.boton-menu{
  left: 80%;
}
.material-icons{
  color: white;
}*/

.tamaño-renglon-1{
  padding-left: 8%; /*9*/
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
.menu-freeda{
  background-color: #912f46;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
/*Seguro primeros gastos terremoto*/
.texto1-titulo{
  margin-top: 25%;
}
#insuranceValue_container{
  width: 90%;
}   
.boton-pagar{
  width: 20%;
  margin-top: 10%;
}

.card_container{
  width: 90%;
  margin-top: 20px;
  height: 820px;
  min-width: 300px;
}
.bkng-tb-cntnt {
  width: 100%;
  height: 100%;
}
.pymnts {
  width: 100%;
  height: 100%;
}
.pymnts * {
  float: none;
}
.sctn-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sctn-col {
  width: 100%;
  margin: 5px 0;
}
.sctn-col input {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 12px;
  width: 100%;
  height: 20px;
}
.sctn-col input::placeholder{
  font-size: 16px;
}
.sctn-col label {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.sctn-col.x3 {
  width: 300px;
}
.sctn-col.x3.last {
  width: 200px;
}
.sctn-col.x3 input {
  width: 210px;
}
.sctn-col.x3 a {
  float: right;
}
.pymnts-sctn {
  width: 100%;
}
.pymnt-itm {
  margin: 0 0 3px;
  width: 100%;
  height: 100%;
}
.pymnt-itm h2 {
  font-size: 18px;
  line-height: 50px;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 50px;
}
.pymnt-itm.active div.pymnt-cntnt {
  width: 100%;
  height: 750px;
}
.pymnt-cntnt div.sctn-row {
  margin: 10px 10px 0;
  width: 90%;
  text-align: left;
}
.pymnt-cntnt div.sctn-row div.sctn-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pymnt-cntnt div.sctn-row div.sctn-col.l {
  width: 100%;
}
.pymnt-cntnt div.sctn-row div.sctn-col input {
  width: 90%;
  font-size: 14px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half {
  width: 45%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
  float: left;
  width: 45%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
  width: 70%;
  margin: 0;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
  background-position: right 80%;
  background-size: 160px;
  padding-bottom: 0px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
  width: 60%;
}
.openpay {
  height: 160px;
  margin: 10px 30px 0 0;
  width: 100%;
}
.openpay div.logo_card {
  background-position: center bottom;
  text-align: center;
  border-right: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 20px 0;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
div.shield {
  background-position: left center;
  margin-left: 55%;
  width: 180px;
  padding: 10px 0 10px 30px;
  text-align: center;
}
#pagar{
  width: 90%;
  text-align: right;
}
.card-expl {
  margin: 0;
  height: 150px;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-expl div {
  height: 70px;
  line-height: 45px;
  padding-top: 10px;
}
.card-expl div.debit {
  background-size: 100%;
  margin-left: 0;
  width: 100%;
}
.card-expl div.credit {
  border-right: none;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
  width: 100%;
}
.card-expl h4 {
  font-size: 14px;
  margin-left: 15px;
}
/*.footermenu{
  padding-left: 0px;
}
.logo-footer{
  display: none;
}*/
/*Footer*/
.footermenu{
  position: static;
  height: 170px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  font-size: 14px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  font-size: 14px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 93px;
  font-size: 14px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -7%;
  margin-top: 29px;
  height: 48px;
  width: 141px;
}

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

/*.tamaño-renglon-1{
  padding-left: 10%;
}
.logo-freeda{
  margin-left: -10%;
  margin-top: -7.5%;
}
.menu-freeda{
  position: absolute;
  margin-left: -80px;
  margin-right: 30px;
  margin-top: 11px;
  background-color: #FFFFFF;
  width: 100vh;
  min-height: 100vh;
}
.texto-menu{
  padding-right: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 33px;
  margin-left: 175px;
  margin-top: 30px;
  letter-spacing: 0.35px;
  color: #FFFFFF;
}
.t1m{
  margin-top: 200px;
}
.tmbl{
  font-weight: 700;
}
.boton-menu{
  left: 80%;
}
.material-icons{
  color: white;
}*/
.tamaño-renglon-1{
  padding-left: 8%; /*9*/
}
.logo-freeda{
  margin-left: -18%;
  /*margin-top: -7%;*/
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
/*Seguro primeros gastos terremoto*/
.texto1-titulo{
  margin-top: 25%;
}
#insuranceValue_container{
  width: 90%;
}   
.boton-pagar{
  width: 30%;
}

.card_container{
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  /* height: 850px; */
}
.bkng-tb-cntnt {
  width: 100%;
  /* height: 100%; */
}
.pymnts {
  width: 100%;
  /* height: 100%; */
}
.pymnts * {
  float: none;
}
.sctn-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sctn-col {
  margin: 5px 0;
}
.sctn-col input {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
  width: 100%;
  height: 20px;
  margin: 0;
}
.sctn-col input::placeholder{
  font-size: 16px;
}
.sctn-col label {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.sctn-col.x3 {
  width: 300px;
}
.sctn-col.x3.last {
  width: 200px;
}
.sctn-col.x3 input {
  width: 210px;
}
.sctn-col.x3 a {
  float: right;
}
.pymnts-sctn {
  width: 100%;
}
.pymnt-itm {
  margin: 0 0 3px;
  width: 100%;
  /* height: 100%; */
}
.pymnt-itm h2 {
  font-size: 18px;
  line-height: 50px;
  padding: 0;
  width: 100%;
  height: 50px;
}
.pymnt-itm.active div.pymnt-cntnt {
  width: 100%;
  /* height: 650px; */
}
.pymnt-cntnt div.sctn-row {
  width: calc(100% - 20px);
  margin: 20px 10px 0;
  text-align: left;
}
.pymnt-cntnt div.sctn-row div.sctn-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(50% - 5px);
}
.pymnt-cntnt div.sctn-row div.sctn-col.l {
  width: calc(50% - 5px);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pymnt-cntnt div.sctn-row div.sctn-col input {
  width: 90%;
  font-size: 14px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half {
  width: 45%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
  float: left;
  width: 45%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
  width: 70%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
  background-position: 80% bottom;
  background-size: 40%;
  padding-bottom: 0px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
  width: 60%;
}
.openpay {
  height: 60px;
  margin: 10px 30px 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.openpay div.logo_card {
  background-position: center bottom;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: none;
  padding: 10px 30px 10px 0;
  margin: 0 5%; 
}
div.shield {
  background-position: left center;
  width: 220px; /*Tamaño de contenedor*/
  text-align: right 10%; /*Alinear el texto*/
  line-height: 20px;
  padding: 10px 5px 10px 40px;
  margin: 60px auto; /*Separacion entre objetos*/
  margin-left: 60%; /*Mover derecha*/
  margin-top: 5%; /*Mover abajo*/
}
#pagar{
  width: 90%;
  text-align: right;
}
.card-expl {
  margin: 0;
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-expl div {
  height: 70px;
  line-height: 45px;
  padding-top: 10px;
}
.card-expl div.debit {
  background-size: 100%;
  margin-left: 20px;
  width: 60%;
}
.card-expl div.credit {
  background-size: 100%;
  border-right: 1px solid #ccc;
  border-bottom: none;
  margin-left: 20px;
  width: 30%;
}
.card-expl h4 {
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
}

/*Footer*/
.footermenu{ /*Politicas de privacidad*/
  padding-right: 180px;
  height: 130px;
  background-color: white;
}
.texto1-footer{
  margin-right: 15px;
}
.texto3-footer{
}

/*Footer*/
.footermenu{
  position: static;
  height: 170px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -2%;
  margin-top: 29px;
  height: 50px;
  width: 141px;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

/*.tamaño-renglon-1{
  padding-left: 10%;
}
.logo-freeda{
  margin-left: -10%;
  margin-top: -7.5%;
}
.boton-menu{
padding-right: 16%;
}
.material-icons{
  color: white;
}*/
.tamaño-renglon-1{
  padding-left: 8%;
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}

/*Seguro primeros gastos terremoto*/
.texto1-titulo{
  margin-top: 17%;
}

/*Footer*/
.footermenu{
  padding-right: 150px;
  background-color: white;
}
/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 5%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 29%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 53%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  display: block;
  margin-left: 83%;
  margin-top: 2px;
  height: 35px;
  width: 110px;
  position: absolute;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.tamaño-renglon-1{
  padding-left: 20%; /*9*/
}
.logo-freeda{
  margin-left: -100%;
}
.texto-menu-f{
  margin-left: 10%;
}
.headerBar{
  margin-top: 2%;
}

.texto1-titulo{
  margin-top: 7%;
}

/*Seguro primeros gastos terremoto*/
.texto1-titulo{
  margin-top: 10%;
}
#insuranceValue_container{
  width: 58%;
}

/*Footer*/
.texto1-footer{
  position: absolute;
  margin-left: 10%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 24%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 38.5%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 83%;
  /*margin-top: 5px;
  height: 60px;
  width: 150px;
  display: flex;*/
}


}










