/*Navegacion*/
.tamaño-renglon-1{
  position: fixed;
  /* height: 78px; */
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: -55%;
  margin-bottom: 2%;
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  margin-left: 4%;
  padding-bottom: 4px;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 18px;
  color:#F7F7F7;
  margin-top: 3px;
  padding-right: 33px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}

/*2-REGISTRO.HTML*/
.seccion1{
  position: static;
  /* height: 250px; */
  width: 100%;
  /*background: #DEDEDE; /*Prueba */
}
.texto1-registro{ /*REGISTRATE*/
  font-size: 40px; /*Tamaño letra*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
  margin-top: 12%;
}
.texto_area_r{ /*Nombre usuario, apellidos,CP*/
  text-align: center;
  margin: 30px auto;
  
  display: flex;
  flex-flow: column-reverse;
  
  width: 30%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.data_input_usua{
  width: 100%;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}
/*FECHA DE NACIMIENTO*/
/*.label-date{
  padding: 5px 0;
  width: 95%; Alinea el texto de arriba
  margin-left: auto; Alinea el texto de arriba
  margin-right: auto; Alinea el texto de arriba
  font-size: 16px; Letra chiquita arriba del cuadro
  font-weight: 300; 
  font-family: 'Raleway', sans-serif;
  margin-left: 475px;
  padding-top: 5px;
}*/
.label-date{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  margin-left: 35%;
}
select{
  margin: 0 auto;
  color: #912F46;
  background-color: white;
  font-size: 16px;
}
select:focus{
  outline: 0;
}
.nacimiento1{ /*Dia */
  font-family: 'Raleway', sans-serif; 
  font-size: 18px;
  width: 5%;
  margin-top: 3%;
  /*margin-left: 35%;*/
}
.nacimiento2{ /*Mes */
  width: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
.nacimiento3{ /*Año */
  width: 5%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
.seccion-boton{
  max-width: 900px;
  padding-top: 170px;
  padding-bottom: 100px;
  /*background: #cc99cc;        /*PRUEBA*/
} 
.btn-registrarse{
  /*position: absolute;
  margin-left: 38%;
  margin-top: -10%;*/
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.btn-registrarse:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.btn-registrarse:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.btn-registrarse:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}

/*3-ACTIVAR-TOKEN.HTML*/
.texto2-seccion1{
  font-size: 20px; /*Tamaño letra*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 30px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
  /*margin-top: 0%;*/
  margin-bottom: 7%;
}/*SECCION-TELEFONO token.html*/
.seccion-telefono{
  position: static;
  height: 150px;
  width: 100%;
  /*background: #DEDEDE; /*Prueba */
}
.texto_area_tel{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 50px;
  width: 35%; /*30*/
  padding: 10px; /*20*/
  font-size: 16px; /*20*/
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.data_input_tel{
  width: 100%;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}
.seccion-sms{ /*Donde va el boton ENVIAR TOKEN*/
  max-width: 900px;
  padding-top: 0px;
  padding-bottom: 200px;
  margin-top: 2%; /*-2% ???*/
  /*background: #cc99cc;        /*PRUEBA*/ 
}
.enviar-token{
  /*position: absolute;
  margin-left: 38%;
  margin-top: 5px;*/
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500; 
}
.enviar-token:hover{
  background: #C88585 0% 0% no-repeat padding-box;/*Color de boton*/
  color: #FFFFFF; /*Color de letra*/
}
.enviar-token:active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
.enviar-token:focus{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
.texto_area_token{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 50px;
  width: 34%;
  padding: 20px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.data_input_token{
  width: 100%;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}




/*revisar------------------*/
.texto1-seccion1{
  font-size: 40px; /*Tamaño letra*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /*Grosor*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
  margin-top: 12%;
}



/*INPUTS*/
.texto_area{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 16px;
  width: 60%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
label.head-label, label.bottom-label1{
  padding: 5px 0;
  width: 95%; /*Alinea el texto de arriba*/
  margin-left: auto; /*Alinea el texto de arriba*/
  margin-right: auto; /*Alinea el texto de arriba*/
  font-size: 15px; /*Letra chiquita arriba del cuadro*/
  font-weight: 300; 
  font-family: 'Raleway', sans-serif;
  display: none; /*Desaparese*/
  color: #989A9B;
  text-align: left;
  position: absolute;
  top: -15px;
  left: 20px;
  -webkit-animation: silo-fade 0.2s; /*Google*/
  -moz-animation: silo-fade 0.2s; /*Motzilla*/
  animation: silo-fade 0.2s; /*Google*/
}
input:focus{outline: none;}

/*Hace la animacion de aparecer cuando se da clic*/
input.invalid + label.head-label, input:focus + label.head-label, input:not(:placeholder-shown) + label.head-label{
  display: block;
}
input.invalid + label.head-label + label.bottom-label1{
  display: block;
  color:#FF4B4B;
  font-weight: 500;
  position: absolute;
  top: 45px;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input.valid{
  color: #912F46;
  font-weight: 500;
}
input.invalid{
  color:#FF4B4B;
  font-weight: 300;
  border-bottom: 1px solid #FF4B4B;
}
input.invalid + label.head-label{
  color:#989A9B;
}
input.quantity-field{
  border: 1.5px solid #C7C7C7;
  text-align: center;
}
/* SPINNER */
#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}
.center_container{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index:6;
  position: absolute;
  top: 50%;
  left: calc(50% - 35px);
  display: none;
  opacity: 1;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #912F46;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* ********** */

/*Animations*/
@-webkit-keyframes silo-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.4em);
    }
    100% {
     opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*4-VALIDAR-TOKEN.HTML*/
/*.seccion-token{ 
  max-width: 900px;
  padding-top: 5px;
  padding-bottom: 200px;
 background-color: #cc99cc;        
  margin-top: -5%;
}*/
.texto_area_token{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 50px;
  width: 34%;
  padding: 20px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.data_input_token{
  width: 100%;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}
.validar-token{ /*BOTON VALIDAR TOKEN*/
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.validar-token:hover{
  background: #C88585 0% 0% no-repeat padding-box;/*Color de boton*/
  color: #FFFFFF; /*Color de letra*/
}
.validar-token:active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
.validar-token:focus{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
/*Mensaje validacion*/
.msn-validacion{
  font-family: 'Raleway',sans-serif;
  font-size:20px; 
  /*border: solid 2px #912F46;*/
  background-color: #912F46;
  color: #FFFFFF;
  width: 30%;
  padding: 7px 0 4px 0;
  text-align: center;
  /*margin-top: -5%;*/
  margin-left: 35%;
  margin-bottom: 5%;
  position: relative;
  display: none;
}
.error{
  color: red;
  display: none;
}
.seccion-espacio{
  max-width: 900px;
  padding-top: 100px;
  padding-bottom: 100px;  
  /*background: #bfe7e5;        /*PRUEBA*/
}
/*BOTON GENERAR NUEVO TOKEN*/
.nuevo-token{ /*BOTON VALIDAR TOKEN*/
  display: none;
  margin-top: 2%;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.nuevo-token:hover{
  background: #C88585 0% 0% no-repeat padding-box;/*Color de boton*/
  color: #FFFFFF; /*Color de letra*/
}
.nuevo-token:active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
.nuevo-token:focus{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}



/*NUEVO FOOTER*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
  padding-top: 2%;
  /*background: #99cccc;   /* PRUEBA*/
}
.texto1-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px; /*Separacion entre textos*/
  padding-left: 5%;
  margin-top: 28px;
  z-index: 2001;
}
.texto2-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto3-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 40px;
}
.texto4-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
}
.texto5-footer{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: #707070;
  opacity: 1;
  margin-right: 30px;
  text-decoration: none;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}
.logo-footer{
  width: 160px;
  height: 60px;
  display: flex;
  margin-left: 80%;
  margin-top: -3%;
}



/*---------MEDIA QUERIES---------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}

.menu-freeda{
  background-color: #912f46;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}

/*------2-REGISTRO.HTML------*/
.texto1-registro{ /*REGISTRARSE*/
  margin-top: 28%;
}
.texto_area_r{ /*Nombre usuario, apellidos,CP*/
  width: 75%;
}
/*.label-date{ FECHA DE NACIMIENTO
  margin-left: 25%;
}*/
.label-date{
  margin-left: 14%;
}
.nacimiento1{ /*Día*/
  width: 18%;
  margin-left: 15%;
  margin-top: 8%;
}
.nacimiento2{ /*Mes*/
  width: 32%;
}
.nacimiento3{ /*Año*/
  width: 18%;
}
.btn-registrarse{
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  margin-bottom: 35%;
}
/* Posiciona etiqueta error en caso de que la entrada sea Invalida */
/* input.invalid + label.head-label + label.bottom-label1 {
  top: 85px;
  left: 20px;
} */




/*-------3-ACTIVAR-TOKEN.HTML-------*/
.texto1-seccion1{
  margin-top: 33%;
  margin-bottom: 10%;
}
.texto_area_tel{ /*Telefono celular*/
  width: 75%;
}
.enviar-token{  /*Enviar token SMS*/
  /*margin-left: 29%;*/
  margin-left: auto;
  margin-right: auto;
}


/*-------4-VALIDAR-TOKEN.HTML-------*/
.texto_area_token{
  width: 79%;
}
.validar-token{ 
  margin-left: auto;
  margin-right: auto;
}
.nuevo-token{
  margin-top: 5%;
}

.msn-validacion{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.texto2-seccion1{
  font-size: 18px;
  margin-bottom: 10%;
}


/*Footer*/
.logo-footer{
  display: none;
}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: -7%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}

.menu-freeda{
  background-color: #912f46;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}

/*-------2-REGISTRO.HTML-------*/
.texto1-registro{ /*REGISTRATE*/
  margin-top: 25%;
}
.texto_area_r{ /*Nombre usuario, apellidos,CP*/
  width: 76%;
}
/*FECHA DE NACIMIENTO*/
/*.label-date{ Para que no se mueva "Fecha de naciemiento"
  margin-left: 30%;
}*/
.label-date{
  margin-left: 14%;
}
.nacimiento1{ /*Dia */
  width: 18%;
  margin-left: 14%;
  margin-top: 6%;
}
.nacimiento2{ /*Mes */
  width: 34%;
}
.nacimiento3{ /*Año */
  width: 18%;
}
.btn-registrarse{
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
  margin-bottom: 31%;
}
/* Posiciona etiqueta error en caso de que la entrada sea Invalida */
input.invalid + label.head-label + label.bottom-label1{
  /* top: 85px;
  left: 20px; */
  width: 95%;
}


/*-------3-ACTIVAR-TOKEN.HTML-------*/
.texto1-seccion1{
  margin-top: 30%;
  margin-bottom: 10%;
}
.texto_area_tel{ /*Telefono celular*/
  width: 75%;
}
.enviar-token{  /*Enviar token SMS*/
  margin-right: auto;
  margin-left: auto;
}


/*-------4-VALIDAR-TOKEN.HTML-------*/
.texto_area_token{
  width: 80%;
}
.validar-token{
  /*margin-left: 33%;*/
  margin-left: auto;
  margin-right: auto;
}
.nuevo-token{
  margin-top: 5%;
}

.msn-validacion{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.texto2-seccion1{
  font-size: 18px;
  margin-bottom: 8%;
}



/*Footer*/
.footermenu{ /*Politicas de privacidad*/
  padding-right: 180px;
  height: 130px;
  background-color: white;
}
.texto1-footer{
  margin-right: 15px;
}
.texto3-footer{
}
.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.tamaño-renglon-1{
  padding-left: 10%;
}
.logo-freeda{
  margin-left: -10%;
  margin-top: -7.5%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}

/*-------2-REGISTRO.HTML------*/
.texto1-registro{ /*REGISTRATE*/
  margin-top: 20%;
}
.texto_area_r{ /*Nombre usuario, apellidos,CP*/
  width: 56%;
}
/*FECHA DE NACIMIENTO*/
/*.label-date{ Para que no se mueva "Fecha de naciemiento"
  margin-left: 31%;
}*/
.label-date{
  margin-left: 23%;
}
.nacimiento1{ /*Dia */
  width: 13.5%;
  margin-left: 23.5%;
  margin-top: 6%;
}
.nacimiento2{ /*Mes */
  width: 24.5%;
}
.nacimiento3{ /*Año */
  width: 13.5%;
}
.btn-registrarse{
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  margin-bottom: 25%;
}
/* Posiciona etiqueta error en caso de que la entrada sea Invalida */
input.invalid + label.head-label + label.bottom-label1{
  /* top: 85px;
  left: 20px; */
  width: 95%;
}


/*--------3-ACTIVAR-TOKEN.HTML--------*/
.texto1-seccion1{
  margin-top: 24%;
  margin-bottom: 9%;
}
.texto_area_tel{ /*Telefono celular*/
  width: 55%;
}
.enviar-token{  /*Btn Enviar token SMS*/
  margin-right: auto;
  margin-left: auto;
}


/*--------4-VALIDAR-TOKEN.HTML--------*/
.texto_area_token{
  width: 59%;
}
.validar-token{ 
  margin-left: auto;
  margin-right: auto;
}
.nuevo-token{
  margin-top: 2.5%;
}

.msn-validacion{
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}
.texto2-seccion1{
  font-size: 20px;
  margin-bottom: 8%;
}

/*Footer*/
.footermenu{
  padding-right: 150px;
  background-color: white;
}
.logo-footer{
  width: 20%; 
  height: 55px;
  margin-left: 84%;
}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: 1%;
}

/*--------2-REGISTRO.HTML--------*/
.texto1-registro{ /*REGISTRATE*/
  margin-top: 18%;
}
.texto_area_r{ /*Nombre usuario, apellidos,CP*/
  width: 42%;
}
/*FECHA DE NACIMIENTO*/
/*.label-date{ Para que no se mueva "Fecha de naciemiento"
  margin-left: 35%;
}*/
.label-date{
  margin-left: 29%;
}
.nacimiento1{ /*Dia */
  width: 10.5%;
  margin-left: 30%;
  margin-top: 4%;
}
.nacimiento2{ /*Mes */
  width: 18%;
}
.nacimiento3{ /*Año */
  width: 10.5%;
}
.btn-registrarse{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}
/* Posiciona etiqueta error en caso de que la entrada sea Invalida */
input.invalid + label.head-label + label.bottom-label1{
 /*  top: 85px;
  left: 20px; */
  width: 95%;
}

/*--------3-ACTIVAR-TOKEN.HTML--------*/
.texto1-seccion1{
  margin-top: 20%;
  margin-bottom: 7%;
}
.texto_area_tel{ /*Telefono celular*/
  width: 41%;
}
.enviar-token{  /*Btn Enviar token SMS*/
  /*margin-left: 39%;*/
  margin-right: auto;
  margin-left: auto;
}

/*--------4-VALIDAR-TOKEN.HTML--------*/
.texto_area_token{
  width: 44%;
}
.validar-token{ 
  margin-left: auto;
  margin-right: auto;
}
.nuevo-token{
  margin-top: 2%;
}

.texto2-seccion1{
  font-size: 20px;
  margin-bottom: 4%;
}


/*Footer*/
.footermenu{
  padding-right: 45px;
}
.logo-footer{
  margin-left: 78%;
  height: 60px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.tamaño-renglon-1{
  padding-left: 25%; /*9*/
}
.logo-freeda{
  margin-left: -55%;
  margin-top: 1%;
}

/*--------2-REGISTRO.HTML--------*/
.texto1-registro{ /*REGISTRATE*/
  margin-top: 15%;
}
.texto_area_r{ /*Nombre usuario, apellidos,CP*/
  width: 37%;
}
/*FECHA DE NACIMIENTO*/
/*.label-date{ Para que no se mueva "Fecha de naciemiento"
  margin-left: 35.5%;
}*/
.label-date{
  margin-left: 31.5%;
}
.nacimiento1{ /*Dia */
  width: 9%;
  margin-left: 32.5%;
  margin-top: 3%;
}
.nacimiento2{ /*Mes */
  width: 16%;
}
.nacimiento3{ /*Año */
  width: 9%;
}
.btn-registrarse{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}
/* Posiciona etiqueta error en caso de que la entrada sea Invalida */
input.invalid + label.head-label + label.bottom-label1{
  /* top: 85px;
  left: 20px; */
  width: 95%;
}

/*--------3-ACTIVAR-TOKEN.HTML--------*/
.texto1-seccion1{
  margin-top: 17%;
  margin-bottom: 6%;
}
.texto_area_tel{ /*Telefono celular*/
  width: 37%;
}
.enviar-token{  /*Btn Enviar token SMS*/
  margin-right: auto;
  margin-left: auto;
}


/*--------4-VALIDAR-TOKEN.HTML--------*/
.texto_area_token{
  width: 39%;
}
.validar-token{ 
  /*margin-left: 37%;
  margin-top: 2%;*/
  margin-left: auto;
  margin-right: auto;
}
.nuevo-token{
  margin-top: 2%;
}

.texto2-seccion1{
  margin-bottom: 3%;
}


/*Footer*/
.footermenu{
  padding-left: 115px;
}
.logo-footer{
  margin-left: 78%;
}
}


