*{
  font-family: 'Roboto',sans-serif;
}
/*Navegacion*/
.tamaño-renglon-1{
  position: fixed;
  /* height: 78px; */
  padding-top: 13px;
  width: 100%;
  z-index: 2010;
  background: #912F46 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  padding-left: 19%;
}
.logo-freeda{
  margin-left: 19%; /*-55*/
  height: 85px;
  width: 210px; 
  display:flex;
}
.menu-freeda{
  font-size: 14px;
  /*margin-left: 5%;*/
  padding-bottom: 4px;
}
.texto-menu-f{ /*Letra del menu*/
  font-size: 20px;
  color:#F7F7F7; /*F7F7F7*/
  margin-top: 3px;
  padding-right: 33px;
  font-weight: 400;
}
.texto-menu-f:hover{ /*Cuando te posicionas encima del texto*/
  color: #FFFFFF;
}
.texto-menu-f:active{
  color: #FFFFFF;
}
.texto-menu-f:focus{ /*Queda activado*/
  text-decoration: underline;
  color: #FFFFFF;
}
.boton-menu-f{
  position: absolute;
  left: 10%;
}



/*5-CREAR-USUARIO.HTML*/
.seccion1{
  position: static;
  /* height: 230px; */
  width: 100%;
  /*background: #DEDEDE; /*Prueba */
}
.texto1-seccion1{
  font-size: 40px; /*Tamaño letra*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
}
/*SECCIÓN CREAR USUARIO*/
.seccion-crear-usuario{
  position: static;
  height: 300px;
  width: 100%;
  /*background: #bfd5e7; /*Prueba */
}
.texto1-usuario{ /*Contraseña*/
  font-size: 18px; /*Tamaño letra*/
  letter-spacing: 0.2px; /*Separacion de todas las letras*/
  line-height: 30px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
}
.texto_area_usuario{
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-flow: column-reverse;
  width: 36.5%;
  padding: 10px;
  font-size: 20px;
  position: relative;
  margin-bottom: 4%;
}
.data_input_crear{
  width: 100%;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}
.tooltip li{
  text-align: left;
  font-size: 15px;
}
label.head-label, label.bottom-label1{
  padding: 5px 0;
  width: 95%; /*Alinea el texto de arriba*/
  margin-left: auto; /*Alinea el texto de arriba*/
  margin-right: auto; /*Alinea el texto de arriba*/
  font-size: 20px; 
  font-weight: 300; 
  display: none; /*Desaparese*/
  color: #989A9B;
  text-align: left;
  position: absolute;
  top: -20px;
  left: 20px;
  -webkit-animation: silo-fade 0.2s; /*Google*/
  -moz-animation: silo-fade 0.2s; /*Motzilla*/
  animation: silo-fade 0.2s; /*Google*/
}
/* Asigna estilos cuando la validacion es buena */
input:focus{outline: none;}

/*Hace la animacion de aparecer cuando se da clic*/
input.invalid + label.head-label, input:focus + label.head-label, input:not(:placeholder-shown) + label.head-label{
  display: block;
}
input.invalid + label.head-label + label.bottom-label1{
  display: block;
  color:#FF4B4B;
  font-weight: 500;
  position: absolute;
  top: 50px;
  left: 20px;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input.valid{
  color: #912F46;
  font-weight: 500;
}
input.invalid{
  color:#FF4B4B;
  font-weight: 300;
  border-bottom: 1px solid #FF4B4B;
}
input.invalid + label.head-label{
  color:#989A9B;
}
input.quantity-field{
  border: 1.5px solid #C7C7C7;
  text-align: center;
}

/*Animations*/
@-webkit-keyframes silo-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.4em);
    }
    100% {
     opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/* -----------------

.contenedor1{

}
.btn-siguiente1{
  position: absolute;
  margin-left: 40%;
  /* margin-top: -8%; 
  border: 1px solid #FFFFFF;
  border-radius: 5px; 
  width: 200px; 
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  text-transform: uppercase; 
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; 
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.btn-siguiente1:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.btn-siguiente1:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
}
.btn-siguiente1:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
}
-------------------- */
  
/*SeccionBoton SIGUIENTE*/
.seccion-siguiente{
  max-width: 900px;
  padding-top: 200px;
  padding-bottom: 200px;  
  /*background: #bfe7e5;        /*PRUEBA*/
} 
.btn-siguiente{
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 20px;
}
.btn-siguiente:hover{
  background: #C88585 0% 0% no-repeat padding-box; 
  color: #000000;
}
.btn-siguiente:active{
  background: #912F46 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  color: #FFFFFF;
}
.btn-siguiente:focus{
  background: #C88585 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #FFFFFF;
}


/*6-INICIAR-SESIÓN*/
.contenedor-iniciar{
  position: static;
  height: 450px;
  width: 100%;
  /*background: #bfe7e5; /*PRUEBA*/
}
.texto1-iniciar{
  font-size: 40px; /*Tamaño letra*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
  /*margin-top: 11%;*/
}
.texto_area_login{
  font-size: 20px;
  text-align: center;
  /*margin-left: 65%;*/
  width: 75%;
  padding: 10px;
  margin-bottom: 40px; 
}
.texto_area_login#error{
  margin-bottom: 5px;
  display: none;
}
.data_input_login{
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 6px;
}
.underlineHover{
  display: block; /*Posicionar debajo de text-area*/
  font-size: 15px;
  color: #707070;
} 
.underlineHover:hover {
  color: #912F46;
}
.btn-iniciar{
  display: block;
  /*position: absolute;
  margin-left: 79%;
  margin-top: 10px;
  margin-bottom: 20%;*/
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 20px;
}
.btn-iniciar:hover{
  background: #C88585 0% 0% no-repeat padding-box;/*Color de boton*/
  color: #FFFFFF; /*Color de letra*/
}
.btn-iniciar:active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
.btn-iniciar:focus{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
.sin-cuenta{
  display: block;
  text-align: center;

  font-size: 16px;
  color: #912F46;
  margin-top: 2%;
}
.link-aqui{
  color: #912F46;
  text-decoration-line: underline;
}
.link-aqui:hover{
  color: #707070;
}
/*6-RECUPERAR-USUARIO.HTML*/
.texto1-recuperar{
  font-size: 40px; /*Tamaño letra*/
  letter-spacing: 0.4px; /*Separacion de todas las letras*/
  line-height: 47px; /*Sangria*/
  text-align: center;
  color: #912F46;
  opacity: 1;
}
.instruccion{
  font-size: 25px;
  text-align: center;
  color: #000000;
  opacity: 1;  
}
.btn-enviar{
  display: block;
  border: 1px solid #FFFFFF; /*Margen de boton*/
  border-radius: 5px; /*Ovalado/redondo*/
  width: 200px; /*Tamaño*/
  height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF; /*Color de letra*/
  text-transform: uppercase; /*Todas mayusculas*/
  opacity: 1;
  background: #912F46 0% 0% no-repeat padding-box; /*Color de boton*/
  font-size: 20px;
}
.btn-enviar:hover{
  background: #C88585 0% 0% no-repeat padding-box;/*Color de boton*/
  color: #FFFFFF; /*Color de letra*/
}
.btn-enviar:active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}
.btn-enviar:focus{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C88585;
  color: #912F46;
}


/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-top: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 21%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 30%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 39%;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.56px;
  color: #707070;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 66%;
  margin-top: 20px;
  height: 48px;
  width: 158px;
  display: flex;
}
.link-footer:hover{
  color: #C88585;
}
.link-footer:active{
  color: #C88585;
  text-decoration: none;
}
.link-footer:focus{
  text-decoration: underline;
  color: #C88585;
}
.logo-footer{
  width: 160px;
  height: 60px;
  display: flex;
  margin-left: 80%;
  margin-top: -3%;
}

/* ESTILOS PARA EL LOADER */
#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
  opacity: 0.9;
}
.center_container{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index:6;
  position: fixed;
  top: 50%;
  left: calc(50% - 250px);
  display: none;
  opacity: 1;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #912F46;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}



#progress_loader{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 13px;
  background-color: #EAEAEA;
  border-radius: 5px;
}

#bar_loader{
position: absolute;
height: 100%;
background-color: #912F46;
border-radius: 5px;
}
h3#caption_loader{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
/* ++++++++++++++++++++++ */

/*---------MEDIA QUERIES---------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.tamaño-renglon-1{
  padding-left: 8%; /*9*/
}
.logo-freeda{
 /* margin-left: -13%;*/
  width: 180px;
  margin-left: -9%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
/*----------------------------*/
/*5-CREAR USUARIO.HTML*/
.texto1-seccion1{ 
  margin-top: 35%;
  margin-bottom: 1%;
}
.texto_area_usuario{ /*Area correo, contraseña y confirmar */
  width: 95%;
}
.data_input_crear{
  width: 100%;
}
.btn-siguiente{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

/*INPUT IVALIDO*/
input.invalid + label.head-label + label.bottom-label1{
  /* top: 110px; */
  width: 95%;
}

/*6-INICIAR-SESIÓN.HTML*/
.texto1-iniciar{
  margin-top: 35%;
  margin-bottom: 8%; 
}
.texto_area_login{ 
  /*margin-left: 15%;*/
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.underlineHover{
  margin-left: 3%;
}
.btn-iniciar{
  /*margin-left: 33%;
  margin-top: -1%;*/
  margin-right: auto;
  margin-left: auto;
}
/*6-RECUPERAR-USUARIO*/
.texto1-recuperar{
  margin-top: 35%;
}
.instruccion{
  font-size: 22px;
}
.btn-enviar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 21%;
  margin-bottom: 20%;
}



/*Footer*/
.footermenu{
  position: static;
  height: 200px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  font-size: 14px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  font-size: 14px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 157px;
  font-size: 14px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -7%;
  margin-top: 29px;
  height: 48px;
  width: 141px;
}
.logo-img{
  height: 100%;
  width: 85%;
  margin-left: 58%;
}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.tamaño-renglon-1{
  padding-left: 8%; /*9*/
}
.logo-freeda{
  margin-left: -15%;
  /*margin-top: -7%;*/
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*li.nav-item{
  border-bottom:1px solid rgba(255,255,255, .3);
}*/
a.nav-link:hover{
  color: #000000;
}
/*----------------------------*/
/*5-CREAR-USUARIO.HTML*/
.texto1-seccion1{ 
  margin-top: 31%;
  margin-bottom: 1.5%;
}
.texto_area_usuario{ /*Area correo, contraseña y confirmar */
  width: 75%;
}
.data_input_crear{
  width: 100%;
}
.btn-siguiente{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;

}
/*INPUT IVALIDO*/
input.invalid + label.head-label + label.bottom-label1{
  /* top: 110px; */
  width: 95%;
}

/*6-INICIAR-SESIÓN.HTML*/
.texto1-iniciar{
  margin-top: 31%;
  margin-bottom: 7.5%; 
}
.texto_area_login{ 
  /*margin-left: 15%;*/
  margin-left: auto;
  margin-right: auto;
}
.underlineHover{
  margin-left: 3%;
}
.btn-iniciar{
  /*margin-left: 33%;
  margin-top: -1%;*/
  margin-left: auto;
  margin-right: auto;
}
/*6-RECUPERAR-USUARIO*/
.texto1-recuperar{
  margin-top: 31%;
}

.btn-enviar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 21%;
  margin-bottom: 20%;
}

/*Footer*/
.footermenu{
  position: static;
  height: 170px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 9%;
  margin-top: 125px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 93px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  position: absolute;
  margin-left: -2%;
  margin-top: 29px;
  height: 50px;
  width: 141px;
}
.logo-img{
  height: 100%;
  width: 85%;
  margin-left: 50%;
}
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.tamaño-renglon-1{
  padding-left: 8%;
}
.logo-freeda{
  margin-left: -18%;
}
.material-icons{
  color: white;
}
.boton-menu{
  left: 80%;
}
/*----------------------------*/
.texto1-seccion1{ /*CREAR USUARIO*/
  margin-top: 23%;
  margin-bottom: 1.5%;
}
.texto_area_usuario{ /*Area correo, contraseña y confirmar */
  width: 55%;
}
.data_input_crear{
  width: 100%;
}
.btn-siguiente{
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
}
/*INPUT IVALIDO*/
input.invalid + label.head-label + label.bottom-label1{
  /* top: 110px; */
  width: 95%;
}

/*6-INICIAR-SESIÓN.HTML*/
.texto1-iniciar{
  margin-top: 23%;
  margin-bottom: 5.5%; 
}
.texto_area_login{
  width: 55%;
  /*margin-left: 23%;*/
  margin-left: auto;
  margin-right: auto;
}
.underlineHover{
  margin-left: 3%;
}
.btn-iniciar{
  /*margin-left: 35%;*/
  margin-left: auto;
  margin-right: auto;
}
/*6-RECUPERAR-USUARIO*/
.texto1-recuperar{
  margin-top: 23%;
}
.instruccion{
  font-size: 25px;
}
.btn-enviar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 20%;
}


/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 5%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 29%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 53%;
  margin-top: 28px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  display: block;
  margin-left: 83%;
  margin-top: 2px;
  height: 35px;
  width: 110px;
  position: absolute;
}
.logo-img{
  height: 150%;
  width: 100%;
  margin-left: 5%;
  margin-top: 8%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.tamaño-renglon-1{
  padding-left: 11%; /*9*/
}
.logo-freeda{
  margin-left: -38%;
}
.menu-freeda{
  margin-left: 30%;
}
.tex2{ /*Para 5-Crear-usuario.html*/
  margin-left: 100%;
}
/*5-CREAR-USUARIO.HTML*/
.texto1-seccion1{ /*CREAR USUARIO*/
  margin-top: 18%;
  margin-bottom: 1%;
}
.texto_area_usuario{ /*Area correo, contraseña y confirmar */
  width: 42%;
}
.data_input_crear{
  width: 100%;
}
.btn-siguiente{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}
/*INPUT IVALIDO*/
input.invalid + label.head-label + label.bottom-label1{
  /* top: 110px; */
  width: 95%;
}

/*6-INICIAR-SESIÓN.HTML*/
.texto1-iniciar{
  margin-top: 18%;
  margin-bottom: 5.3%; 
}
.texto_area_login{
  width: 88.5%;
  margin-left: 60%;
}
.underlineHover{
  margin-left: 3%;
}
.btn-iniciar{
  margin-left: 83%;
}
/*6-RECUPERAR-USUARIO*/
.texto1-recuperar{
  margin-top: 18%;
}
.instruccion{
  font-size: 25px;
}
.btn-enviar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}

/*Footer*/
.footermenu{
  position: static;
  height: 80px;
  border-bottom: solid 5px;
  border-color: #F2F5F4;
}
.texto1-footer{
  position: absolute;
  margin-left: 5%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 24%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 45%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2003;
}
/*.logo-footer{
  margin-left: 75%;
  margin-top: 5px;
  height: 60px;
  width: 50%;
  display: flex;
}*/

.logo-img{
  height: 150%;
  width: 100%;
  margin-left: 5%;
  margin-top: 10%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.tamaño-renglon-1{
  padding-left: 20%; /*9*/
}
.logo-freeda{
  margin-left: -100%;
}
.menu-freeda{
  margin-left: 32%;
}
.texto-menu-f{
}
/*5-CREAR-USUARIO.HTML*/
.texto1-seccion1{ /*CREAR USUARIO*/
  margin-top: 15%;
  margin-bottom: 1.8%;
}
.texto_area_usuario{ /*Area correo, contraseña y confirmar */
  width: 37%;
}
.data_input_crear{
  width: 100%;
}
.btn-siguiente{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}
/*INPUT IVALIDO*/
input.invalid + label.head-label + label.bottom-label1{
  /* top: 110px; */
  width: 95%;
}


/*6-INICIAR-SESIÓN.HTML*/
.texto1-iniciar{
  margin-top: 15%;
  margin-bottom: 4.5%; 
}
.texto_area_login{
  width: 76%;
  margin-left: 65%;
}
.underlineHover{
  margin-left: 3%;
}
.btn-iniciar{
  margin-left: 85%;
}
.sin-cuenta{
  
}
/*6-RECUPERAR-USUARIO*/
.texto1-recuperar{
  margin-top: 15%;
}
.instruccion{
  font-size: 25px;
}
.btn-enviar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  margin-bottom: 8%;
}



/*Footer*/
.texto1-footer{
  position: absolute;
  margin-left: 10%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2001;
}
.texto2-footer{
  position: absolute;
  margin-left: 24%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2002;
}
.texto3-footer{
  position: absolute;
  margin-left: 38.5%;
  margin-top: 20px;
  opacity: 1;
  z-index: 2003;
}
.logo-footer{
  margin-left: 83%;
  /*margin-top: 5px;
  height: 60px;
  width: 150px;
  display: flex;*/
}
}

/*  || ANIMATIONS  */

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}








